[Desktop Entry]
Encoding=UTF-8
Name=Link to view-source:http://www.sibcolombia.net/SIB-theme/images/liferay.ico
Type=Link
URL=view-source:http://www.sibcolombia.net/SIB-theme/images/liferay.ico
Icon=text-html
