extends layout_report

block content
  section#contenido

        h1 Recurso no encontrado
        h2
          | Por favor verifique la direcci&#243;n o dir&#237;jase a la p&#225;gina de 
          a(href="/biodiversidad2014/") INICIO 
        

        
