extends layout_report

block content
  section#contenido
        h2 AP&#201;NDICES 
        h1 ÍNDICE DE ACRONIMOS

        h3
          a#A A

        p
          | ABC Adaptación Basada en Comunidades

        p
          | ÁABE  Adaptación Basada en Ecosistemas

        p
          | AP  Área Protegida

        p
          | AUNAP Autoridad Nacional Pesquera

        
        h3
          a#B B

        p
          | BUR-INGEI Biennal Update Report - Greenhouse gas inventory

        
        h3
          a#C C

        p
          | CAR Corporación Autónoma Regional

        p
          | CARDER  Corporación Autónoma Regional de Risaralda

        p
          | CC  Cambio Climático

        p
          | CDB Convenio sobre la Diversidad Biológica

        p
          | CEPAL Comisión Económica Para América Latina y el Caribe

        p
          | CGIAR Consorcio de centros de investigación sobre seguridad alimentaria

        p
          | CIFFA Comité Interinstitucional de Fauna y Flora de Antioquia

        p
          | CITES Convención sobre el Comercio Internacional de Especies Amenazadas de Fauna y Flora Silvestres

        p
          |  CONPES Consejo Nacional de Política Económica y Social

        p
          |  COP  Conferencia de las Partes

        p
          |  CORANTIOQUIA Corporación Autónoma Regional del Centro de Antioquia

        p
          |  CORPOICA Corporación Colombiana de Investigación Agropecuaria

        p
          |  CP Constitución Política

        p
          |  CVS  Corporación Autónoma Regional del Valle del Sinú y San Jorge

        h3
          a#D D

        p
          |  DADMA  Departamento Administrativo Distrital del Medio Ambiente 

        p
          |  DANE Departamento Administrativo Nacional de Estadística

        p
          |  DCC-MADS Dirección de Cambio Climático - Ministerio de Ambiente y Desarrollo Sostenible

        p
          |  DENP Dictámenes de Extracción No Perjudicial

        p
          |  DNP  Departamento Nacional de Planeación



        h3
          a#F F

        p
          |  FAO  Food and Agriculture Organization


        h3
          a#G G
        
        p
          |  GBIF Global Biodiversity Information Facility

        p
          |  GEF  Fondo para el Medio Ambiente Mundial

        p
          |  GEI  Gases de Efecto Invernadero


        
        h3
          a#I I

        p
          |  I3N  Red de Especies Invasoras de IABIN (Interamerican Biodiversity Information Network)

        p
          |  IAVH Instituto de Investigación de Recursos Biológicos Alexander von Humboldt

        p
          |  IDEAM  Instituto de Hidrología, Meteorología y Estudios Ambientales de Colombia

        p
          |  ICC  Corporación Colombia Internacional

        p
          |  ICN  Instituto de Ciencias Naturales de la Universidad Nacional de Colombia

        p
          |  IGAC Instituto Geográfico Agustín Codazzi

        p
          |  IIAP Instituto de Investigaciones Ambientales del PAcífico John Von Neumann

        p
          |  INAP Proyecto Nacional Integrado de Adaptación al Cambio Climático: Ecosistemas de Alta Montaña, Áreas Insulares del Caribe Colombiano y Salud Humana.

        p
          |  INCODER  Instituto Colombiano de Desarrollo Rural

        p
          |  INVEMAR  Instituto de Investigaciones Marinas y Costeras “José Benito Vives De Andréis”

        p
          |  IPCC Intergubernamental Panel on Climate Change. Panel Intergubernamental sobre el Cambio Climático

        
        h3
          a#J J

        p
          |  JAUM Jardín Botánico de Medellín “Joaquín Antonio Uribe”


        h3
          a#M M

        p
          |  MADR Ministerio de Agricultura y Desarrollo Rural

        p
          |  MADS Ministerio de Ambiente y Desarrollo Sostenible

        p
          |  MADR Ministerio de Agricultura y Desarrollo Rural

        p
          |  MEA  Evaluación de Ecosistemas del Milenio

        p
          |  MINMINAS Ministerio de Minas y Energía



        h3
          a#O O

        p
          |  OCyT Observatorio Colombiano de Ciencia y Tecnología

        p
          |  OGM  Organismos genéticamente modificados

        p
          |  OIT  Organización Internacional del Trabajo

        p
          |  OMM  Organización Meteorológica Mundial

        p
          |  OT Ordenamiento Territorial


        h3
          a#P P

        p
          |  PNGIBSE  Política Nacional para la Gestión Integral de la Biodiversidad y los Servicios Ecosistémicos

        p
          |  PNN  Parque Nacional Natural

        p
          |  PNUD Programa de Naciones Unidas para el Desarrollo

        p
          |  PNUMA  Programa de Naciones Unidas para el Medio Ambiente

        p
          |  POMCO  Plan de Ordenamiento y Manejo de los Cerros Orientales de Bogotá D.C.

        p
          |  POT  Plan de Ordenamiento Territorial

        p
          |  PRN  Parque Regional Natural

        p
          |  PUJ  Pontificia Universidad Javeriana



        h3
          a#R R

        p
          |  RESNATUR Asociación Red Colombiana de Reservas de la Sociedad Civil

        p
          |  RFP  Reserva Forestal Protectora

        p
          |  RNC  Registro Único Nacional de Colecciones Biológicas

        p
          |  RPC  Representative Concentration Pathways

        p
          |  RUNAP  Registro Único Nacional de Áreas Protegidas


        h3
          a#S S

        p
          |  SAO  Sociedad Antioqueña de Ornitología

        p
          |  SIB  Sistema de Información sobre Biodiversidad de Colombia

        p
          |  SIDAP  Sistema Departamental de Áreas Protegidas

        p
          |  SINA Sistema Nacional Ambientals

        p
          |  SINAP  Sistema Nacional de Áreas Protegidas

        p
          |  SINCHI Instituto Amazónico de Investigación Científica SINCHI

        p
          |  SIPA Sistema de información de pesca y acuicultura

        p
          |  SPNN Sistema de Parques Nacionales Naturales


        h3
          a#T T

        p
          |  TEEB Iniciativa de la Economía de los Ecosistemas y la Biodiversidad



        h3
          a#U U

        p
          |  UANDES Universidad de los Andes

        p
          |  UICN Unión Internacional para la Conservación de la Naturaleza

        p
          |  UNAL Universidad Nacional de Colombia

        p
          |  UNODC  United Nations Office on Drugs and Crime Colombia

        
        h3
          a#V V

        p
          |  VIBSE  Valoración Integral de los Servicios Ecosistémicos


        h3
          a#W 

        p
          |  WWF  Fondo Mundial para la Naturaleza

        
        



