extends layout_report

block content
  section#contenido
        h2 AP&#201;NDICES 
        h1 ÍNDICE DE AUTORES

        h3
          a#A A

        p
          | Christian Alonso(11) 309

        p
          | Ángela María Amaya-Villarreal(4) 201

        p
          | Enrique Arbeláez-Cortés(1) 105

        p
          | Paulo Arévalo(4) 210, 211

        
        h3
          a#B B

        p
          | María Piedad Baptiste E.(1) 201, 202, 205, 206, 207, 301

        p
          | Laura Carolina Bello (1) 103, 205, 206, 207

        
        h3
          a#C C

        p
          | Dairon Cárdenas López (7) 202, 205, 206, 207, 301

        p
          | Juliana Cárdenas Toro (1) 201, 205, 206, 207

        p
          | Nicolás Castaño (7) 301

        p
          | Paula Caycedo-Rosales (1) 105

        p
          | Ricardo Augusto Claro Carrascal (1) 213

        p
          | Harold Leonardo Correa (8) 214

        p
          | Germán Corzo (1) 212

        p
          | Carlos Cubillos (1) 102

        p
          |  Alexi Cusva (1) 304


        h3
          a#D D

        p
          |  Nicolás del Campo A. (11) 309
        
        
        h3
          a#E E

        p
          |  Mauricio Echeverry (1) 209, 311

        p
          |  Andrés Etter (4) 210, 21


        h3
          a#G G

        p
          |  Néstor García (4) 201

        p
          |  María Fernanda Gómez Ahumada (1) 102

        p
          |  Iván González (1) 103

        p
          |  Luisa González (11) 309

        p
          |  Maylin González (1) 202

        p
          |  Vicky Guerrero Barrios (10) 305

        p
          |  Jhonatan Gutiérrez (1) 310

        p
          |  Jorge Gutiérrez (1) 209, 305

        
        h3
          a#H H

        p
          |  Olga Lucía Hernández-Manrique (1) 212
        

        
        h3
          a#L L

        p
          |  Carlos A. Lasso (1) 106, 201, 204

        p
          |  Oscar Laverde (3) 105

        p
          |  Daniel Oswaldo León (8) 214

        p
          |  María Cecilia Londoño-Murcia (1) 103, 205, 206, 207

        p
          |  Hugo F. López-Arévalo (9) 301


        h3
          a#M M

        p
          |  Juana Mariño (1) 306

        p
          |  Clara Matallana (1) 302

        p
          |  María Angélica Mejía (1) 308, 309, 310

        p
          |  Mónica A. Morales-Betancourt (1) 106, 201, 204

        p
          |  Rodrigo Moreno (1) 301



        h3
          a#O O

        p
          |  Oscar Orrego (1) 101

        p
          |  Mariela Osorno (7) 202, 301


        h3
          a#P P

        p
          |  Emmerson Miguel Pastás Cuastumal (1) 307

        p
          |  Melanie Peñaranda (11) 309

        p
          |  Marcela Portocarrero-Aya (1) 212


        h3
          a#Q Q

        p
          |  Germán Quimbayo1 306


        h3
          a#R R

        p
          |  Luis Miguel Renjifo (4) 201

        p
          |  Alexander Rincón (1) 214, 311

        p
          |  Jerónimo Rodríguez (1) 303

        p
          |  César Rojas (1) 304

        p
          |  Gabrielle Rubiano (4) 201


        h3
          a#S S

        p
          |  Paula Sánchez-Duarte (1) 201, 204

        p
          |  Karen Soacha (1) 101

        p
          |  Sonia M. Sua Tunjano (7) 205, 206, 207


        h3
          a#T T

        p
          |  Juan Lázaro Toro (5) 201



        h3
          a#V V

        p
          |  Natalia Valderrama (1) 201

        p
          |  Nancy Vargas-Tovar (6) 202, 203

        p
          |  Carlos Vásquez (2) 104

        p
          |  Lina Vásquez (1) 302

        p
          |  Jorge Velásquez-Tibatá (1) 207, 208, 211

        
        h3
          a#W W

        p
          |  Diana Wiesner (11) 309


        h3
          a#Z Z

        p
          |  Paula Zuluaga (1) 311

        p
          strong
            | Instituciones: (1) Instituto de Investigación de Recursos Biológicos Alexander von Humboldt (2) Universidad Nacional de Colombia (3) Universidad de Los Andes (4) Pontificia Universidad Javeriana (5) Corporación Autónoma Regional del Centro de Antioquia - CORANTIOQUIA (6) Fundación Natura (7) Instituto Amazónico de Investigaciones Científicas - SINCHI (8) Oficina de las Naciones Unidas contra la Droga y el Delito - UNODC (9) Instituto de Ciencias Naturales, Universidad Nacional de Colombia (10) Instituto de Hidrología, Meteorología y Estudios Ambientales de Colombia - IDEAM (11) Fundación Cerros de Bogotá
        



