extends layout_report

block content
  section#contenido
        h2 AP&#201;NDICES 
        h1 LITERATURA CITADA
        

        h3
          a#101 101
        
        p
          | 1. Simmons, E. J., y Muñoz-Saba, Y. (2005). Cuidado, manejo y conservación de las colecciones biológicas. Colombia: Conservación Internacional serie manuales de campo.

        p
          | 2. Aguirre, J. (2012). Menú de colecciones biológicas. Recuperado el 20 de diciembre de 2013, del sitio Web de UN Periódico: http://www.unperiodico.unal.edu.co/dper/article/menu-de-colecciones-biologicas.html.

        p
          | 3. Del sitio Web del Instituto Humboldt: http://rnc.humboldt.org.co/.

        

        h3
          a#102 102

        p
          | La ficha sobre SiB Colombia, fue realizada con base en la la información publicada a través de los portales SiB, que pueden ser consultados en: 

        p
          | www.sibcolombia.net   

        p
          | www.data.sibcolombia.net

        p
          | www.biodiversidad.co



        h3
          a#103 103

        p
          | 1. Whittaker, R.J., Araújo, M.B., Paul, J., Ladle, R.J., Watson, J.E.M. (2005). Conservation Biogeography: assessment and prospect. Diversity Distrib 11, pp. 3-23.

        p
          | 2. Peterson A.T., Ortega-Huerta, M.A., Bartley, J., Sánchez-Cordero, V., Soberón, J. (2002). Future projections for Mexican faunas under global climate change scenarios. Nature 416, pp. 626-629.

        p
          | 3. Myers, N., Mittermeier, R., Mittermeier, C., Da Fonseca, G., Kent, J. (2000). Biodiversity hotspots for conservation priorities. Nature 403, pp. 853-858.

        p
          | 4. Margules, C.R., Pressey, R.L. (2000). Systematic conservation planning. Nature 405, pp. 243-253.

        p
          | 5. Peterson, A.T. (2006). Ecologic niche modeling and spatial patterns of disease transmission. Emerg Infect Dis 12, pp. 1822-1826.

        p
          | 6. Gallien, L., Douzet, R., Pratte, S., Zimmermann, N.E., Thuiller, W. (2012). Invasive species distribution models – How violating the equilibrium assumption can create new insights. Global Ecology and Biogeography 21, pp. 1126-1136.

        p
          | 7. Hannah, L., Ikegami, M., Hole, D.G., Seo, C., Butchart, S.H.M. (2013). Global Climate Change Adaptation Priorities for Biodiversity and Food Security. PLOS ONE, 8.

        p
          | 8. Graham, C.H., Ferrier, S., Huettman, F., Moritz, C., Peterson, A.T. (2004). New developments in museum based informatics and applications in biodiversity analysis. Trends in Ecol Evol 19, pp. 497-503.

        p
          | 9. Bisby, F.A. (2000). The quiet revolution: biodiversity informatics and the Internet. Science 289, pp. 2309-2312.

        p
          | 10. Rocchini, D., Hortal, J., Lengyel, S., Lobo, J.M., Jiménez-Valverde, A. (2011). Accounting for uncertainty when mapping species distributions: the need for maps of ignorance. Prog Phys Geogr 35, 211-226.

        p
          | 11. De Ornellas, P., Milner-Gulland, E.J., Nicholson, E. (2011). The impact of data realities on conservation planning. Biol Conserv 144, pp. 1980-1988.

        p
          | 12. Boakes, E.H., McGowan, P.J.K., Fuller, R.A., Chang-qing, D., Clark, N.E. (2010). Distorted Views of Biodiversity: Spatial and Temporal Bias in Species Occurrence Data. PLOS BIOL 8(6).

        p
          | 13. Solari S., Muñoz-Saba Y., Rodriguez-Mahecha, J. V., Defler T.R., Ramírez-Chaves H. y Trujillo, F. 2014. Riqueza, endemismo y conservación de los mamíferos de Colombia. Mastozoología Neotropical, 20 (2), pp. 301-365.

        p
          | 13. Solari S., Muñoz-Saba Y., Rodriguez-Mahecha, J. V., Defler T.R., Ramírez-Chaves H. y Trujillo, F. 2014. Riqueza, endemismo y conservación de los mamíferos de Colombia. Mastozoología Neotropical, 20 (2), pp. 301-365.

        p
          | 14. Donegan, T., Quevedo, A., McMullan, M., Salaman, P. (2011). Revision of the status of bird species occurring or reported in Colombia 201. Conservacion Colombiana 15, pp. 4-21

        p
          | 15. Castaño-Mora, O.V. (2002). Libro Rojo de Reptiles de Colombia. Serie Libros Rojos de Especies Amenazadas de Colombia. Bogotá: Instituto de Ciencias Naturales Universidad Nacional de Colombia, Ministerio de Ambiente Vivienda y Desarrollo Territorial. 

        p
          | 16. Frost, D.R. (2013). Amphibian Species of the World. Recuperada el 9 de enero de 2013, de http://research.amnh.org/herpetology/amphibia/index.html. American Museum of Natural History, New York,

        p
          | 17. Andrade-C, M.G. (2001) Distribución y diversidad de las mariposas de Colombia. III Jornada Iberoamericana sobre Diversidad Biológica, Inventario y estimación de la Biodiversidad en Insectos hiperdiversos (Coleoptera, Diptera, Lepidoptera e Hymenoptera). Brasil: Pribes 2000.

        p
          | 18. Amat-García, G., y Andrade-C, E. (2007). Libro Rojo de los invertebrados terrestres de Colombia. Bogotá: Instituto de Ciencias Naturales, Universidad Nacional Colombia, Conservación internacional Colombia, Instituto Alexander von Humboldt, Ministerio de Ambiente, Vivienda y Desarrollo Territorial.  

        p
          | 19. Melo, G. (2007). Introductory Remarks. In Moure, J. S., Urban, D. & Melo, G. A. R. (Orgs). Catalogue of Bees (Hymenoptera, Apoidea) in the Neotropical Region. Brasil: Sociedade Brasileira de Entomologia. 
        p
          | 20. Chaves, M.E., y Santamaría, M. (2006). Informe Nacional sobre el Avance en el Conocimiento y la Información de la Biodiversidad 1998-2004. Bogotá: Instituto de Investigación en Recursos Biológicos Alexander von Humboldt. 

        p
          | 21. Flórez, G., y Sánchez-C, H. (1997). La diversidad de los arácnidos en Colombia Vol.I. Colombia: Colombia Diversidad Biótica. De la página Web //issuu.com/diversidadbiotica/docs/dbi.-cap19.diversidad-aracnidos?e=2165212/2622944

        p
          | 22. Andrade-C, M. G. (2011). Estado de conocimiento de la biodiversidad en Colombia y sus amenazas. Consideraciones para fortalecer la interacción ciencia-política. Colombia: Revista Academia Colombiana de Ciencias, 35(137), pp. 491-507.

        p
          | 23. Bernal, R., y Stuessy, T. F. (2007). Plants Systematics World. Taxon 56 (1), pp. 273, 274.

        p
          | 24. Sarmiento, J. (2007). La Familia Orchidaceae en Colombia. Actual Biol (Supl. 1), pp. 84.

        p
          | 25. Bernal, R., Celis, M., Gradstein, S.R. (2007). Plant diversity of Colombia catalogued. Taxon 56 (1), página 273.



        h3
          a#104 104

        p
          | Esta infografía es resultado del analisis de datos primarios, por tanto no requirió de literatura citada. Para más información sobre fuentes, por favor visitar la ficha metodológica de la misma.
        
        h3
          a#105 105

        p
          | 1. Padial, J., Miralles, A., De la Riva, I., Vences, M. (2010). The integrative future of taxonomy. Frontiers in Zoology, Vol. 7, p. 16.

        p
          | 2. Arbeláez-Cortés, E. (2013). Knowledge of Colombian biodiversity: published and indexed. Biodiversity and Conservation, Vol. 22, pp. 2875-2906.

        p
          | 3. Arbeláez-Cortés, E. (2013). Describiendo especies: Un panorama de la biodiversidad Colombiana en el ámbito mundial. Colombia: Acta Biológica Colombiana, Vol. 18, pp. 165-178.

        p
          | 4. Valdes-Velasquez, A., y Schuchmann, K-L. (2009). A new species of hummingbird (Thalurania; Trochilidae; Trochilinae) from the western Colombian Andes. Ornithologisher Anzeiger, Vol. 48, pp. 143-149.

        p
          | 5. Remsen, J. V., Cadena, C. D., Jaramillo, A., Nores, M., Pacheco, J. F., Pérez-Emán, J., Robbins, M. B., Stiles, F. G., Stotz, D. F., Zimmer, K. J. (2014). A classification of the bird species of South America. American Ornithologists’ Union, de la Web http://www.museum.lsu.edu/~Remsen/SACCBaseline.html.

        p
          | 6. Stiles, F.G. (2009). A review of the genus Momotus (Coraciiformes: Momotidae) in Northern South American and adjacent areas. Ornitología Colombiana, Vol. 8, pp. 29-75.

        p
          | 7. Isler, M.L., Cuervo, A.M., Bravo, G.A., Brumfield, R.T. (2012). An integrative approach to species-level systematics reveals the depth of diversification in an Andean thamnophilid, the Long-tailed Antbird. The Condor, Vol. 114, pp. 571-583.

        p
          | 8. Donegan, T., Salaman, P., Caro, D., McMullan, M. (2010). Revision of the status of bird species occurring in Colombia. Conservación Colombiana, Vol. 13, pp. 25-54.

        p
          | 9. Stiles, F.G., Cuervo, A. M., Rosselli, L., Bohórquez, C. I., Estela, F., Arzuza, D. (2011). Species lists of birds for South American countries and territories: Colombia. De la Web http://www.museum.lsu.edu/~Remsen/SACCCountryLists.html.

        p
          | 10. Donegan, T.M., McMullan, M., Quevedo, A., Salaman, P. (2013). Revision of the status of bird species occurring or reported in Colombia. Conservación Colombiana, Vol. 19, pp. 3-10.

        p
          | 11. Isler, M.L., Isler, P.R., Whitney, B.M. (1998). Use of vocalizations to establish species limits in antbirds (Passeriformes Thamnophillidae). The Auk, Vol. 115, pp. 557-590.

        p
          | 12. Krabbe, N., y Schulenberg, T.S. (1997). Species limits and natural history of Scytalopus tapaculos (Rhinocryptidae), with descriptions of the Ecuadorian taxa, including three new species. Ornithological Monographs, Vol. 48, pp. 47-88.

        p
          | 13. Cuervo, A.M., Salaman, T., Donegan, Ochoa, J.M. (2001). A new species of Piha (Cotingidae: Lipaugus) from the Cordillera Central of Colombia. Ibis, 143, pp. 353-368.

        p
          | 14. Salaman, P., Coopmans, P., Donegan, T. M., Cortés, A., Hilty, S.L., Ortega, L. A., Mulligan, M. (2003). A new species of Wood-wren (Troglodytidae: Henicorhina) from the Western Andes of Colombia. Ornitología Colombiana, pp. 4-21.

        p
          | 15. Cuervo, A.M., Cadena, C. D., Krabbe, N., Renjifo, L.M. (2005). Scytalopus stilesi, a new species of tapaculo (Rhinocryptidae) from the Cordillera Central of Colombia. The Auk, Vol. 122, pp. 445-463.

        p
          | 16. Krabbe, N., Salaman, P., Cortés, A., Quevedo, L.A., Ortega, Cadena, C.D. (2005). A new species of tapaculo from the upper Magdalena valley, Colombia. Bull. B. O. C. 125, pp. 93-108.

        p
          | 17. Remsen, J. V., Jr., Cadena, C.D., Jaramillo, A., Nores, M., Pacheco, J.F., Pérez-Emán, J., Robbins, M. B., Stiles, F. G., Stotz D. F., Zimmer K. J. (2014). A classification of the bird species of South America. American Ornithologists’ Union, de la Web http://www.museum.lsu.edu/~Remsen/SACCBaseline.html. 

        p
          | 18. Cortés-Diago, A., Ortega, L.A., Mazariegos-Hurtado, L., Weller, A. (2007). A new species of Eriocnemis (Trochilidae) from southwest Colombia. Ornitologia Neotropical, 18(2), pp. 161-170.

        p
          | 19. Donegan, T.M. (2007). A new species of brush finch (Emberizidae: Atlapetes) from the northern Central Andes of Colombia. Bulletin British Ornithological Club, 127, pp. 255-268.

        p
          | 20. Krabbe, N. (2008). Vocal evidence for restitution of species rank to a Santa Marta endemic: Automolus rufipectus Bangs (Furnariidae), with comments on its generic affinities. Bulletin British Ornithologists’ Club, 128, pp. 219-227.

        p
          | 21. Hilty, S.L., y Ascanio, D. (2009). A new species of spinetail (Furnariidae: Synallaxis) from the Río Orinoco of Venezuela. The Auk, Vol. 126, pp. 485-492.

        p
          | 22. Stiles, F.G. (2009). A review of the genus Momotus (Coraciiformes:Momotidae) in Northern South American and adjacent areas. Ornitología Colombiana, 8, pp. 29-75.

        p
          | 23. Krabbe, N., y Cadena, C.D. (2010). A taxonomic revision of the Paramo Tapaculo Scytalopus canus Chapman (Aves: Rhinocryptidae), with description of a new subspecies. Zootaxa, 2354, pp. 56-66.

        p
          | 24. Chaves, J.C., Cuervo A.M., Miller, M.J., Cadena, C.D. (2010). Revising species limits in a group of Myrmeciza antbirds reveals a cryptic species within M. laemosticta (Thamnophilidae). Condor, 112, pp. 718-730.

        p
          | 25. Carantón-Ayala, D., y Certuche-Cubillos, K. (2010). A new species of antpitta (Grallariidae: Grallaria) from the northern sector of the Western Andes of Colombia. Ornitología Colombiana 9: 56–70.

        p
          | 26. Donegan, T., Salaman, P., Caro, D., y McMullan, M. (2010). Revision of the status of bird species occurring or reported in Colombia 2010. Conservación Colombiana, 13, pp. 25-54.

        p
          | 27. Cadena, C.D., y Cuervo, A. M. (2010). Molecules, Morphology, Ecology, and songs in concert: How many species is “Arremon torquatus” (Aves, Emberizidae). Biological Journal of the Linnean Society, 99, pp. 152-176.

        p
          | 28. Lara, C.E., Cuervo, A.M., Valderrama, S.V., Calderón-F, D., Cadena, C. D. (2012). A new species of wren (Troglodytidae: Thryophilus) from the dry Cauca River Canyon, northwestern Colombia. The Auk, Vol. 129 (3), pp. 537–550.

        p
          | 29. Isler, M.L., Cuervo, A.M., Bravo, G.A., Brumfield, R.T. (2012). An integrative approach to species-level systematics reveals the depth of diversification in an Andean thamnophilid, the Long-tailed Antbird. The Condor, 114, pp. 571-583.

        p
          | 30. Laverde-R, O. y Cadena, C.D. (2014) Taxonomy and conservation: a tale of two tinamous species group. Journal of Avian Biology, 45, pp. 484-592.

        p
          | 31. Negret, P.J., y Laverde-R, O. The enigmatic Black Tinamou (Tinamus osgoodi, Conover 1949): distribution, ecology, vocalizations and conservation.

        p
          | 32. Cadena, C.D., Caro, L.M., Caycedo-Rosales, P.C., Bowie, R.C.K., Slabbekoorn, H. Henicorhina anachoreta (Aves, Troglodytidae), Another Endemic Bird Species for the Sierra Nevada de Santa Marta, Colombia.

        h3
          a#106 106
        
        p
          | 1. Morales-Betancourt, M. A., Lasso, C. A., Trujillo, F., De La Ossa, J., Forero, G., Páez, V. P. (2012) Amenazas a las poblaciones de tortugas continentales de Colombia. Biología y conservación de las tortugas continentales de Colombia. Colombia: Serie Editorial Recursos Hidrobiológicos y Pesqueros Continentales de Colombia, Instituto de Investigación de los Recursos Biológicos Alexander von Humboldt.

        p
          | 2. Zapata, L.M., Bock, B.C., Palacio, J.A. (2014). Mercury concentrations in tissues of Colombian Slider turtles, Trachemys callirostris, from northern Colombia. Bull Environ Contam Toxicol, 92(5), pp. 562-566.

        p
          | 3. Páez, V.P., Morales-Betancourt, M.A., Lasso, C.A., Castaño-Mora, O.V., Bock, B. V. (2012). Biología y conservación de las tortugas continentales de Colombia. Bogotá: Serie Editorial Recursos Hidrobiológicos y Pesqueros Continentales de Colombia, Instituto de Investigación de los Recursos Biológicos Alexander von Humboldt, de la Web del Instituto Humboldt http://www.humboldt.org.co/publicaciones/uploads/Tortugas_continentales_de_Colombia.pdf.

        h3
          a#201 201

        p
          | 1. Calderón, E., Galeano, G., García, N. (2002). Libro Rojo de las Plantas Fanerógamas de Colombia. Volumen 1: Chrysobalanaceae, Dichapetalaceae y Lecythidaceae. Bogotá: Serie Libros Rojos de Fauna, Flora y Hongos Amenazados de Colombia, Instituto Alexander von Humboldt, Instituto de Ciencias Naturales de la Universidad Nacional de Colombia, Ministerio del Medio Ambiente.

        p
          | 2. Calderón, E., Galeano, G., García, N. (2005). Libro Rojo de Plantas de Colombia. Volumen 2: Palmas, Frailejones y Zamias. Bogotá: Serie Libros Rojos de Especies Amenazadas de Colombia, Instituto Alexander von Humboldt, Instituto de Ciencias Naturales de la Universidad Nacional de Colombia, Ministerio de Ambiente, Vivienda y Desarrollo Territorial. 

        p
          | 3. Calderón-Sáenz, E. (2007). Libro Rojo de Plantas de Colombia. Volumen 6: Orquídeas. Bogotá: Serie Libros Rojos de Especies Amenazadas de Colombia, Instituto Alexander Von Humboldt, Ministerio de Ambiente, Vivienda y Desarrollo Territorial. 

        p
          | 4. Cárdenas, L., Salinas, N.R. (2007). Libro Rojo de Plantas de Colombia. Volumen 4: Especies Maderables Amenazadas. Bogotá: Serie Libros Rojos de especies Amenazadas de Colombia, Instituto Amazónico de Investigaciones Científicas SINCHI, Ministerio de Ambiente, Vivienda y Desarrollo Territorial. 

        p
          | 5. García, N., y Galeano, G. (2006). Libro Rojo de Plantas de Colombia. Volumen 3: Las bromelias, las labiadas y las pasifloras. Bogotá: Serie Libros Rojos de Especies Amenazadas de Colombia, Instituto Alexander von Humboldt, Instituto de Ciencias Naturales de la Universidad Nacional de Colombia, Ministerio de Ambiente, Vivienda y Desarrollo Territorial. 

        p
          | 6. García, N. (2007). Libro Rojo de Plantas de Colombia. Volumen 5: Las magnolias, las miristicáceas y las podocarpáceas. Bogotá: Serie Libros Rojos de Especies Amenazadas de Colombia, Instituto Alexander von Humboldt, Corporación Autónoma del Centro de Antioquia (CORANTIOQUIA), Jardín Botánico Joaquín Antonio Uribe de Medellín, Instituto de Ciencias Naturales de la Universidad Nacional de Colombia, Ministerio de Ambiente, Vivienda y Desarrollo Territorial. 

        p
          | 7. García, N., y Galeano, G. (2013). Evaluación del riesgo de extinción de la flora colombiana: estado actual y perspectivas. Memorias VII Congreso Colombiano de Botánica. Ibagué: Sello Editorial Universidad del Tolima. 

        p
          | 8. Mojica, J. I., Usma, J.S., Álvarez-León, R., Lasso, C.A. (2012). Libro rojo de peces dulceacuícolas de Colombia 2012. Bogotá: Instituto de Investigación de Recursos Biológicos Alexander von Humboldt, Instituto de Ciencias Naturales de la Universidad Nacional de Colombia, WWF Colombia y Universidad de Manizales. 

        p
          | 9. Rueda-Almonacid, J.V., Lynch, J.D., y Amezquita, A. (2004). Libro rojo de anfibios de Colombia. Bogotá: Serie de Libros Rojos de Especies Amenazadas de Colombia, Conservación Internacional, instituto de Ciencias Naturales, Universidad Nacional de Colombia, Ministerio del Medio Ambiente. 

        p
          | 10. Castaño-Mora, O. V. (Ed.). 2002. Libro rojo de reptiles de Colombia. Serie de Libros rojos de especies amenazadas de Colombia. Instituto de Ciencias Naturales-Universidad Nacional de Colombia, Ministerio de Medio Ambiente, Conservación Internacional-Colombia. Bogotá. Colombia. 160 pp.

        p
          | 11. Páez, V. P., M. A. Morales-Betancourt, C. A. Lasso, O. V. Castaño-Mora y B. C. Bock. (Eds.). V. Biología y conservación de las tortugas continentales de Colombia. Serie Editorial Recursos Hidrobiológicos y Pesqueros Continentales de Colombia. Instituto de Investigación de los Recursos Biológicos Alexander von Humboldt (IAvH). Bogotá, D. C., Colombia, 528 pp.

        p
          | 12. Morales-Betancourt, M. A., C. A. Lasso, J. De La Ossa y A. Fajardo-Patiño. (Editores). 2013. VIII. Biología y conservación de los Crocodylia de Colombia. Serie Editorial Recursos Hidrobiológicos y Pesqueros Continentales de Colombia. Instituto de Investigación de los Recursos Biológicos Alexander von Humboldt (IAvH). Bogotá, D. C., Colombia, ---- pp.

        p
          | 13. Renjifo, L. M., M. F.,Gómez, J. Velásquez-Tibatá, A. M. Amaya-Villarreal, G. H. Kattan, J. D. Amaya-Espinel, y J. Burbano-Girón. 2013. Libro rojo de aves de Colombia, Volumen I: bosques húmedos de los Andes y la costa Pacífica. Editorial Pontificia Universidad Javeriana e Instituto Alexander von Humboldt. Bogotá D.C., Colombia.

        p
          | 14. Renjifo, L. M, Franco-Maya, A. M., Amaya-Espinel, J. D., Kattan, G. H., López-Lanús B. (eds). 2002. Libro rojo de aves de Colombia. Serie de Libros Rojos de Especies Amenazadas de Colombia. Instituto de Investigación de los Recursos Biológicos Alexander von Humboldt y Ministerio del Medio Ambiente. Bogotá, D. C., Colombia

        p
          | 15. Rodríguez-M., J.V., M. Alberico, F. Trujillo y J. Jorgenson (Eds). 2006. Libro Rojo de los Mamíferos de Colombia. Serie Libros Rojos de Especies Amenazadas de Colombia. Conservación Internacional Colombia y Ministerio de Ambiente, Vivienda y Desarrollo Territorial. Bogotá, Colombia. 433 pp.

        h3
          a#202 202

        p
          | 1. Paz, A., Gonzalez, M., Crawford, A. (2012). Códigos de barras de la vida: Introducción y perspectiva. Acta Biológica Colombiana, 16 (3), pp. 161-176.

        p
          | 2. Gonzalez, M. y Paz, A. (2013). iBOL Colombia Advances: barcoding life in a megadiverse countre. Barcode Bulletin. De la Web http://ibol.org/wp-content/uploads/2013/12/iBOL-Barcode-Bulletin-Dec-2013.pdf

        

        h3
          a#203 203

        p
          | Esta infografía es resultado del analisis de datos primarios, por tanto no requirió de literatura citada. Para más información sobre fuentes, por favor visitar la ficha metodológica de la misma.



        h3
          a#204 204

        p
          | 1. Mojica, J.I., Usma, J.S., Álvarez-León, R., Lasso, C.A. (2012). Libro rojo de peces dulceacuícolas de Colombia 2012. Bogotá: Instituto de Investigación de Recursos Biológicos Alexander von Humboldt, Instituto de Ciencias Naturales de la Universidad Nacional de Colombia, WWF Colombia y Universidad de Manizales. 

        p
          | 2. Gutiérrez, F., Barreto, C., Mancilla, B. (2011). Diagnóstico de la pesquería en la cuenca Magdalena-Cauca. En: II. Pesquerías continentales de Colombia: cuencas del Magdalena-Cauca, Sinú, Canalete, Atrato, Orinoco, Amazonas y vertiente del Pacífico. Bogotá: Serie Editorial Recursos Hidrobiológicos y Pesqueros Continentales de Colombia. Instituto de Investigación de los Recursos Biológicos Alexander von Humboldt. 


        h3
          a#205 205

        p
          | 1. Ojasti, J., González Jiménez, E., Szeplaki,. (2001). Informe sobre las especies exóticasen Venezuela. Caracas: Ministerio del Ambiente y de Recursos Naturales, Oficina Nacional de Biodiversidad Biológica. 

        p
          | 2. Wittenberg, R., y Cock, M.J.W. (2001). Invasive Alien Species: A Toolkit of Best Prevention and Management Practices. UK: CAB International.

        p
          | 3. Gutiérrez, F. (2010). Las invasiones biológicas y el cambio climático. Revista La Tadeo, Calentamiento global. Más ciencia mejores políticas, pp. 109-122. Bogotá: Universidad Jorge Tadeo Lozano.

        p
          | 4. Olden, J.D., y Poff, N.L. (2003). Toward a Mechanistic Understanding and Prediction of Biotic Homogenization. The American Naturalist, Vol. 162. No. 4, pp. 442-460.

        p
          | 5. Hernández, G. (2002). Invasores en Mesoamérica y el Caribe. Invasives in Mesoamerica and the Caribbean. Costa Rica: Unión Internacional para la Conservación de la Naturaleza. 

        p
          | 6. Baptiste, M.P., Castaño, N., Cárdenas, D., Gutiérrez, F.P., Gil, D.L., Lasso, C.A. (2010). Análisis de riesgo y propuesta de categorización de especies introducidas para Colombia. Bogotá: Instituto de Investigación de Recursos Biológicos Alexander von Humboldt. 

        h3
          a#206 206

        p
          | 1. Mack, N.M., Simberloff, D., Lonsdale, W.M., Evans, H., Clout, M., Bazzaz, F. (2000). Biotic invasions: Causes, Epidemiology, Global consequences and Control. Ecological Applications, Vol. 10, pp. 689-710.

        p
          | 2. Simons, S., y De Poorter, M. (2009). Best Practices in Pre-Import Risk Screening for Species of Live Animals in International Trade. Proceedings of an Expert Workshop on Preventing Biological Invasions. U.S.A: University of NotreDame.

        p
          | 3. Baptiste, M.P., y Múnera, C. (2010). Análisis de riesgo de vertebrados terrestres introducidos en Colombia. En: Baptiste, M.P., Castaño, N., Cárdenas, D., Gutiérrez, F.D.P., Gil, D.L., Lasso, C.A. (eds). (2010). Análisis de riesgo y propuesta de categorización de especies introducidas para Colombia. pp. 149-199. Bogotá: Instituto de Investigación de recursos Biológicos Alexander von Humboldt. 

        p
          | 4. Baker, R.H.A., Eyre, D., Brunel, S. (2013). Matching methods to produce maps for pest risk analysis to resources. In: Kriticos, D.J., y Venette, R.C. (Eds). Advancing risk assessment models to address climate change, economics and uncertainty. NeoBiota,18, pp. 25-40. 

        p
          | 5. Yemshanov, D., Frank, F.H., Ducey, M.J., Haack, R.A., Siltanen, M., Wilson, K. (2013). Quantifying uncertainty in pest risk maps and assessments: adopting a risk-averse decision maker’s perspective. En: Kriticos, D.J., y Venette, R.C. (Eds). Advancing risk assessment models to address climate change, economics and uncertainty. NeoBiota, 18, pp. 193–218. 

        p
          | 6. Rafoss, T., Skahjem, J., Johansen, J.A., Johannessen, S., Nagothu, U.S., Fløistad, I.S., Sletten, A. (2013). Improving pest risk assessment and management through the aid of geospatial information technology standards. En: Kriticos, D.J., y Venette, R.C. (Eds). Advancing risk assessment models to address climate change, economics and uncertainty. NeoBiota, 18, pp. 119-30. 

        p
          | 7. Giraldo-Cañas, D. (2013). Las gramíneas en Colombia: riqueza, distribución, endemismo, invasión, migración, usos y taxonomías populares. Biblioteca José Jerónimo Triana No. 26. Bogotá: Universidad Nacional de Colombia, Facultad de Ciencias, Instituto de Ciencias Naturales.

        
        h3
          a#207 207

        p
          | 1. Burgiel, S.W., y Muir, A.A. (2010). Invasive Species, Climate Change and Ecosystem-Based Adaptation: Addressing Multiple Drivers of Global Change. Washington, Nairobi, Kenya: Global Invasive Species Programme (GISP). 

        p
          | 2. Stachowicz, J.J., Terwin, J.R., Whitlatch, R.B., Osman, R.W. (2002). Linking climate change and biological invasions: ocean warming facilitates nonindigenous species invasions. Proceedings of the National Academy of Science of the United States of America, 99, pp. 15497–15500. 

        p
          | 3. D’Antonio, C.M. (2000). Fire, plant invasions and global changes. En: Mooney, H.A., y Hobbs, R.J. (Eds.). pp. 65-93. Invasive Species in a Changing World. Washington: Island Press. 

        p
          | 4. Dukes, J.S. (2000). Will the increasing atmospheric CO2 concentration affect the success of invasive species?. En: Mooney, H.A., y Hobbs, R.J. (Eds.). Invasive Species in a Changing World. Washington: Island Press.


        h3
          a#208 208
        
        p
          | 1. Hijmans, R.J., et al. (2005). Very high resolution interpolated climate surfaces for global land areas. International Journal of Climatology, 25, pp. 1965-1978.

        p
          | 2. Phillips, S.J., Anderson, R.P., Schapire, R.E. (2006). Maximum entropy modeling of species geographic distributions. Ecological Modelling, 190(3-4), pp. 231-259.

        p
          | 3. Loarie, S.R., Duffy, P.B., Hamilton, H., Asner, G.P., Field, C.B., Ackerly, D.D. (2009). The velocity of climate change. Nature, 462, pp. 1052-1055.


        h3
          a#209 209

        p
          | 1. Grupo Intergubernamental de Expertos sobre el Cambio Climático. (2013). Resumen para responsables de políticas. En: Stocker, T. F., Qin, D., Plattner, G., Tignor, M., Allen, S. K., Boschung, J., Nauels, A., Xia, V., Bex, Midgley, P.M. (eds.). Cambio Climático 2013: Bases físicas. Contribución del Grupo de trabajo I al Quinto Informe de Evaluación del Grupo Intergubernamental de Expertos sobre el Cambio Climático. Cambridge y Nueva York: Cambridge University Press, Cambridge, en la Web http://www.ipcc.ch/report/ar5/wg1/docs/WG1AR5_SPM_brochure_es.pdf.

        p
          | 2. Instituto de Hidrología, Meteorología y Estudios Ambientales. (2010). Segunda comunicación de Colombia ante la Convención de las Naciones Unidas sobre el cambio climático: República de Colombia. Bogotá: Instituto de Hidrología, Meteorología y Estudios Ambientales.

        p
          | 3. Lhumeau, A., Cordero, D. (2012). Adaptación basada en Ecosistemas: una respuesta al cambio climático. Quito: UICN.

        p
          | 4. Grupo Intergubernamental de Expertos sobre el Cambio Climático. (2002). Cambio climático y biodiversidad. Documento Técnico, 93.

        p
          | 5. Stefen, W., Burbidge, A., Hughes, L., et al., (2009). Australia’s biodiversity and climate change: Summary for policy makers. Summary of a report to the Natural Resource Management Ministerial Council commissioned by the Australian Government. Canberra: Department of Climate Change. De la Web http://www.climatechange.gov.au/»/media/publications/biodiversity/biodiversity-summary-policy-makers.pdf.

        p
          | 6. Convenio de Diversidad Biológica. (2009). Communiqué. Biodiversity and Climate Change: A CDB contribution to the Copenhague Climate Agreement. Montreal. Recuperado el 18 de septiembre de 2009, de la Web http://www.cbd.int/doc/press/2009/pr-2009-09-11-cc-en.pdf.

        p
          | 7. Segunda Comunicación Nacional. Capítulo 4: Vulnerabilidad. Pág.205.

        p
          | 8. De la Web: http://www.ipcc.ch/news_and_events/docs/ar5/ar5_wg1_headlines_es.pdf


        h3
          a#210 210

        p
          | 1. Cabrera, E., Vargas, D.G., Galindo, M.C., García, Ordoñez, M.F. (2011). Protocolo de procesamiento digital de imágenes para la cuantificación de la deforestación en Colombia. Nivel Nacional Escala Gruesa y Fina. De la Web http://goo.gl/0YgFt.

        p
          | 2. González, J.J., Etter, A.A., Sarmiento, A.H., Orrego, S.A., Ramirez, C., Cabrera, E., Vargas, D., Galindo, G., García, M.C., Ordoñez, M.F. (2011). Análisis de tendencias y patrones espaciales de deforestación en Colombia. Colombia: Instituto de Hidrología, Meteorología y Estudios Ambientales, de la Web http://goo.gl/qTyN8.

        p
          | 3. Lambin, E., y Geist, H. (2006). Land-use and land-cover change: local processes and global impacts. Springer. Nueva York.

        p
          | 4. Etter, A., McAlpine, C., Wilson, K., Phinn, S., Possingham, H. (2006). Regional patterns of agricultural land use and deforestation in Colombia. Agriculture, Ecosystems & Environment: 114 (2–4), pp. 369-386. De la Web http://dx.doi.org/10.1016/j.agee.2005.11.013. 


        h3
          a#211 211 

        p
          | 1. Pimm, S.L., y Raven, P. (2000). Extinction by the numbers. Nature, 403, pp. 843-845.

        p
          | 2. Etter, A., McAlpine, C., Possingham, H. (2008). Historical Patterns and Drivers of Landscape Change in Colombia Since 1500: A Regionalized Spatial Approach. Association of American Geographers, 98, pp. 2-23.


        h3
          a#212 212 

        p
          | Esta infografía es resultado del analisis de datos primarios, por tanto no requirió de literatura citada. Para más información sobre fuentes, por favor visitar la ficha metodológica de la misma.

        
        h3
          a#213 213 

        p
          | 1. Burgos, M.S. (2011). El marco normativo sobre diversidad biológica y los planes nacionales de desarrollo 2002-2014. Bogotá: Documento de trabajo, Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt. 

        p
          | 2. León, T. E., y Palacios M.T. (2002). Incorporación de consideraciones de biodiversidad en la política agropecuaria colombiana. Bogotá: Documento de trabajo, Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt, Instituto de Estudios Ambientales, Universidad Nacional de Colombia.

        p
          | 3. Chará, J., Solarte, A., Giraldo, C., Zuluaga, A., Murgueitio, E. Evaluación Ambiental. Proyecto Ganadería Colombiana Sostenible. Colombia: Mainstreaming Biodiversity in Sustainable Cattle Ranching, CIPAV y The Nature Conservancy.

        p
          | 4. Federación Nacional de Ganaderos. (2012). La Ganadería Colombiana y las Cadenas Láctea y Cárnica Cifras de Referencia Plan Estratégico de la Ganadería Colombiana PEGA 2019. Fedegan.

        p
          | 5. Federación Nacional de Ganaderos. El Hatico Una ganadería ecológica. Carta Fedegan N.112. 

        p
          | 6. Fedegan. (2009). El hatico. Una Ganadería Ecológica. Carta Fedegan. N. 112, pp. 52-54. Fedegan: Ciencia y Tecnología Ganadera, Federación Colombiana de Ganaderos. De la Web http://www.iica.int/Esp/regiones/andina/colombia/Documentos%20de%20la%20Oficina/TallerGanaderia/17_Carlos_Molina_Presentaci%C3%B3n_Reserva_Natural_Hatico.pdf. 

        p
          | 7. De la Web http://www.thegef.org/gef/project_detail?projID=947 

        p
          | 8. De la Web http://www.anla.gov.co/documentos/3972_250809_guia_eae_tau_mavdt.pdf

        p
          | 9. FEDEGAN. (2006). Plan Estratégico de la Ganadería Colombiana 2019. Federación Colombiana de Ganaderos, pp. 296. 

        p
          | 10. De la Web de Fedegan: http://www.fedegan.org.co/programas/ganaderia-colombiana-sostenible.

        p
          | 11. De la Web http://www.contextoganadero.com/regiones/ganaderos-de-caqueta-hablaron-de-reconversion-ganadera.

        
        h3
          a#214 214

        p
          | 1. Álvarez, M. (2007). Environmental damage from illicit drug crops in Colombia. En: De Jong, W.D., Deanna, Abe, Ken-ichi (Ed.), Extreme Conflict and Tropical Forests. Holanda.

        p
          | 2. Dávalos, L.M., Bejarano, A.C., Hall, M.A., Correa, H.L., Corthals, A., Espejo, O.J. (2011). Forests and Drugs: Coca-Driven Deforestation in Tropical Biodiversity Hotspots. Environmental Science & Technology, 45 (4), pp. 1219-1227.

        p
          | 3. Rincón Ruiz, A., Pascual, U., Romero, M., (2013). An exploratory spatial analysis of illegal coca cultivation in Colombia using local indicators of spatial association and socioecological variables. Ecological Indicators, 34, pp. 103-112.

        p
          | 4. Rincón-Ruiz, A., Pascual, U., Flantua, S., (2013a). Examining spatially varying relationships between coca crops and associated factors in Colombia, using geographically weight regression. Applied Geography, 37 (0), pp. 23-33.

        p
          | 5. UNODC. (2013). Colombia Monitoreo de cultivos de coca 2012. Bogotá: Oficina de las Naciones Unidas Contra la Droga y el Delito.

        p
          | 6. Myers, N., Mittermeier, R.A., Mittermeier, C.G., Fonseca, G.A.B., Kent, J. (2000). Biodiversity hotspots for conservation priorities. Nature, 403 (6772), pp. 853-858.

        p
          | 7. IDEAM, IGAC., IAvH, Invemar, Sinchi, IIAP. (2007). Ecosistemas continentales, costeros y marinos de Colombia. Bogotá: Instituto de Hidrología, Meteorología y Estudios Ambientales, Instituto Geográfico Agustín Codazzi, Instituto de Investigación de Recursos Biológicos Alexander von Humboldt, Instituto de Investigaciones Ambientales del Pacífico Jhon von Neumann, Instituto de Investigaciones Marinas y Costeras José Benito Vives De Andréis, Instituto Amazónico de Investigaciones Científicas Sinchi. 


        h3
          a#301 301

        p
          | Esta infografía es resultado del analisis de datos primarios, por tanto no requirió de literatura citada. Para más información sobre fuentes, por favor visitar la ficha metodológica de la misma.


        h3
          a#302 302

        p
          | 1. Decreto 2372 de 2010, Decreto-Ley 2811 de 1974, Ley 99 de 1993, Ley 165 de 1994, Decreto-Ley 216 de 2003, en relación con el Sistema Nacional de Áreas Protegidas. Diario Oficial 47757 de julio 1 de 2010. Colombia.

        p
          | 2. Correa, L. (2013). Informe de avances Memorando de Entendimiento 2010-2015 para la implementación del Plan de Acción del Sistema Nacional de Áreas Protegidas de Colombia. Parques Nacionales Naturales de Colombia.

        p
          | 3. Parques Nacionales Naturales de Colombia. (2013). Nace El Santuario de Flora Plantas Medicinales Orito Ingi-Ande. Recuperado el 26 de noviembre de 2013, de la Web http://www.parquesnacionales.gov.co/PNN/portel/libreria/php/frame_detalle.php?h_id=2911.

        p
          | 4. Durán, C. A. (2009). Gobernanza en los Parques Nacionales Naturales Colombianos: reflexiones a partir del caso de la comunidad Orika y su participación en la conservación del Parque Nacional Natural Corales del Rosario y San Bernardo. Revista de Estudios Sociales, Vol. 32, pp 60-73.

        p
          | 5. Toro, A.P., (2009). Bases jurídicas y técnicas para la consolidación del Sirap en la jurisdicción de la CAR. Bogotá: Editorial Instituto Humboldt y Corporación Autónoma Regional de Cundinamarca.


        h3
          a#303 303

        p
          | 1. IGAC. (2012). Atlas de la Distribución de la Propiedad Rural en Colombia. Bogotá, D.C.: Instituto Geográfico Agustín Codazzi.

        p
          | 2. Slunge, D. (2008). Conflict, Environment and Climate Change in Colombia. Policy Brief, School of Economics and Commercial Law. University of Gothenburg.

        p
          | 3. FAO-CAF. (2008). Nota de Análisis Sectorial. Agricultura y Desarrollo Rural. De la Web http://www.fao.org/docrep/012/ak167s/ak167s00.htm. Colombia: Finagro 2013 Informe de Gestión 2012, de la Web www.finagro.gov.co.

        p
          | 4. De la Web del DANE: http://www.dane.gov.co/index.php/agropecuario-alias/estadisticas-agricolas-y-pecuarias-ena. Encuesta Nacional Agropecuaria 2012.

        p
          | 5. Ministerio de Agricultura y Desarrollo Rural. (2013). Anuario estadístico del sector agropecuario y pesquero 2011. Proyecto de Ley de Tierras 2013, de la Web http://www.agronet.gov.co/www/htm3b/public/Anuario/anuarioEstadistico2011.pdf. 

        p
          | 6. Machado. (2012). El problema de la tierra en Colombia y desarrollo humano en el sector rural. En: La cuestión agraria en Colombia: tierra, Desarrollo y paz. Memorias Ciclo de Conversatorios, Documento de Trabajo, de la Web http://www.hss.de/fileadmin/americalatina/Colombia/downloads/cuestion_agraria.pdf.

        p
          | 7. Álvarez Roa, P. (2012). Mercado de Tierras en Colombia. ¿Acaparamiento o Soberanía alimentaria? Instituto Mayor Campesino. De la Web http://justiciaypazcolombia.com/IMG/pdf/Cartilla_IMCA_FINAL_FINAL_1_.pdf.

        p
          | 8. Ministerio de Agricultura y Desarrollo Rural. (2013). Anuario estadístico del sector agropecuario y pesquero 2011. Proyecto de Ley de Tierras 2013, de la Web http://www.agronet.gov.co/www/htm3b/public/Anuario/anuarioEstadistico2011.pdf. 

        p
          | 9. Ministerio de Agricultura y Desarrollo Rural. (2012). Proyecto de Ley de Tierras y Desarrollo Rural.

        p
          | 10. MADS (2012) en OECD 2014. De la Web http://www.eclac.cl/publicaciones/xml/5/52505/EvaluacionAmbientalColombia.pdf. 


        h3
          a#304 304

        p
          | 1. Contraloría General de la República -CGR. (2011). Estado de los Recursos Naturales y del Ambiente 2010-2011. Minería y Medio Ambiente. Bogotá, Colombia. p. 419.

        p
          | 2. Cabrera, M. y Fierro, J. (2013). Implicaciones ambientales y sociales del modelo extractivista en Colombia. En: Garay, L. J. et al .Minería en Colombia. Derechos, políticas públicas y gobernanza. Vol. 1. Contraloría General de la República. Bogotá.

        p
          | 3. Fierro, J. (2012). Políticas Mineras en Colombia. Bogotá: Instituto Latinoamericano para una sociedad y un derecho alternativos.


        
        h3
          a#305 305

        p
          | 1. Fierro, J. (2012). Políticas Mineras en Colombia. Bogotá: Instituto Latinoamericano para una sociedad y un derecho alternativos Bogota.

        p
          | 2. De la Web http://www.pnud.org.co/img_upload/61626461626434343535373737353535/CAMBIOCLIMATICO/4.%20Memorias%20Panel%20Nacional%20Pol%C3%ADticas%20de%20pobreza%20y%20adaptaci%C3%B3n%20al%20cambio%20clim%C3%A1tico%20en%20Colombia/1.%20Recomendaciones%20al%20CONPES%20CC.%20PC%20NU.pdf


        h3
          a#306 306

        p
          | 1. Mariño, J. (2010). Lineamientos para la inclusión de la Biodiversidad en el Ordenamiento Territorial. Documento final para el Instituto Alexander von Humbolt [Documento electrónico]. 

        p
          | 2. Carrizosa, J. (2006). Desequilibrios territoriales y sostenibilidad local. Conceptos, metodologías y realidades. Bogotá: Universidad Nacional de Colombia, Instituto de Estudios Ambientales.

        p
          | 3. *Instituto Alexander von Humboldt-Instituto Geográfico Agustín Codazzi. Elementos para la incorporación de la biodiversidad en los Esquemas y Planes de Ordenamiento Territorial. Bogotá, Colombia. 2006.


        h3
          a#307 307

        p
          | 1. De la Web del DANE - CENSO 2005: http://www.dane.gov.co/index.php/poblacion-y-demografia/grupos-etnicos. http://www.dane.gov.co/files/censo2005/etnia/sys/visibilidad_estadistica_etnicos.pdf. http://www.dane.gov.co/files/censo2005/etnia/sys/etnias.pdf. http://www.dane.gov.co/revista_ib/html_r1/articulo7_r1.htm. Población según DANE: Proyección de población por departamento (2010-2020): http://www.dane.gov.co/files/investigaciones/poblacion/proyepobla06_20/7Proyecciones_poblacion.pdf.

        p
          | 2. Documento propuesta de política para la protección de los Sistemas de Conocimiento Tradicional asociado a la biodiversidad en Colombia – (MADS, GEF y PNUD) - versión 2013.

        p
          | 3. Pineda, R. (2005). Historia, Metamorfosis y Poder en la orfebrería prehispánica de Colombia. Boletín de Historia y Antiguedades, Vol. XCII, N. 830.

        p
          | 4. Reichel-Dolmatoff, G., y Correa, Francois (editor). (1990). La selva Humanizada. Bogotá: Instituto Colombiano de Antropología.

        p
          | 5. Ministerio de Ambiente, Vivienda y Desarrollo Territorial y Asociación de Autoridades Indígenas. (2010). Recrear y fortalecer la Shagra como sistema Productivo para la Soberanía Alimentaria y la sostenibilidad Ambiental.

        

        h3
          a#308 308

        p
          | 1. DNP. (2013). Documento técnico de soporte: Política para el Sistema de Ciudades. Bogotá, D.C.: Departamento Nacional de Planeación.


        h3
          a#309 309

        p
          | Esta infografía es resultado del analisis de datos primarios, por tanto no requirió de literatura citada. Para más información sobre fuentes, por favor visitar la ficha metodológica de la misma.


        h3
          a#310 310

        p
          | Esta infografía es resultado del analisis de datos primarios, por tanto no requirió de literatura citada. Para más información sobre fuentes, por favor visitar la ficha metodológica de la misma.
        


        h3
          a#311 311

        p
          | 1. Ministerio de Medio Ambiente y Desarrollo Sostenible Colombia (2012). Política Nacional para la Gestión Integral de la Biodiversidad y sus Servicios Ecosistémicos. Bogotá: Ministerio de Medio Ambiente y Desarrollo Sostenible Colombia, Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt, Pontificia Universidad Javeriana, Cooperación Técnica Alemana-GIZ, Departamento Nacional de Planeación. 

        p
          | 2. Potschin, M.B., y Haines-Young, R. H. (2011). Ecosystem services: Exploring a geographical perspective. Progress in Physical Geography, 35(5), pp. 575-594. 

        p
          | 3. Drews, A.D., Miranda-Ortiz, C.L., Enríquez-Acevedo, T., Suárez-Agudelo, A., Arias-Arévalo, P. (2012). Informe técnico. Aplicación de una metodología para la Valoración Integral de la Biodiversidad y de los Servicios Ecosistémicos: Proyecto piloto en la Cuenca Media-Alta del Río Otún (Risaralda). Bogotá: Ministerio de Ambiente y Desarrollo Sostenible, Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt.

        p
          | 4. David, A., Miranda-Ortiz, C.L., Enríquez-Acevedo, T., Suárez-Agudelo, A., Arias-Arévalo, P. (2012). Informe técnico. Aplicación de una metodología para la Valoración Integral de la Biodiversidad y de los Servicios Ecosistémicos: Proyecto piloto en la Cuenca Media-Alta del Río Otún (Risaralda). Bogotá: Ministerio de Ambiente y Desarrollo Sostenible, Instituto de Investigaciones de Recursos Biológicos Alexander von Humboldt.
        



