extends layout_report

block content
  section#contenido
        h2 AP&#201;NDICES 
        h1 GLOSARIO
        h3 101

        h3
          a(href="#101") 101

        p
          strong Lorem ipsum
        
        p
          | 1.Simmons, E. J., y Muñoz-Saba, Y. (2005). Cuidado, manejo y conservación de las colecciones biológicas. Colombia: Conservación Internacional serie manuales de campo.

        p
          | 2.Aguirre, J. (2012). Menú de colecciones biológicas. Recuperado el 20 de diciembre de 2013, del sitio Web de UN Periódico: http://www.unperiodico.unal.edu.co/dper/article/menu-de-colecciones-biologicas.html.

        h3 103

        h3
          a(href="#103") 103

        p
          strong Lorem ipsum 
        p
          | 1.Whittaker, R.J., Araújo, M.B., Paul, J., Ladle, R.J., Watson, J.E.M. (2005). Conservation Biogeography: assessment and prospect. Diversity Distrib 11, pp. 3-23.

        p
          | 2.Peterson A.T., Ortega-Huerta, M.A., Bartley, J., Sánchez-Cordero, V., Soberón, J. (2002). Future projections for Mexican faunas under global climate change scenarios. Nature 416, pp. 626-629.

        p
          | 3.Myers, N., Mittermeier, R., Mittermeier, C., Da Fonseca, G., Kent, J. (2000). Biodiversity hotspots for conservation priorities. Nature 403, pp. 853-858.

        p
          | 4.Margules, C.R., Pressey, R.L. (2000). Systematic conservation planning. Nature 405, pp. 243-253.

        p
          | 5.Peterson, A.T. (2006). Ecologic niche modeling and spatial patterns of disease transmission. Emerg Infect Dis 12, pp. 1822-1826.
        


        p
          strong Lorem ipsum 
        p
          | dolor sit amet, consectetur adipiscing elit. Donec id tempus nunc, quis interdum eros. Aliquam ac blandit sem. Mauris tincidunt aliquet molestie. Curabitur suscipit ipsum id viverra adipiscing.

        p
          strong
            a#termino1 Lorem ipsum 

        p
          | dolor sit amet, consectetur adipiscing elit. Donec id tempus nunc, quis interdum eros. Aliquam ac blandit sem. Mauris tincidunt aliquet molestie. Curabitur suscipit ipsum id viverra adipiscing.

        p &#160;

        



