extends layout_report

block content
  section#contenido
        h2 AP&#201;NDICES 
        h1 ÍNDICE DE COLABORADORES

        h3
          a#A A

        p
          | Daniel Amariles (1) 102

        p
          | Johanna Arroyave (1)


        
        h3
          a#B B

        p
          | Javier Barriga (1) 212

        p
          | Laura Carolina Bello (1) 208

        p
          | Néstor Beltrán (1) 102

        p
          | Andrés Burbano (3) 105

        
        h3
          a#C C

        p
          | Miguel Cantillo1 (3) 310

        p
          | Clara Caro1 (2) 310

        p
          | Diego Córdoba (1) 212

        p
          | Germán Corzo (1) 302

        p
          | María Fernanda Cubillos (1) 102

        p
          | Andrés Cuervo (2) 105



        h3
          a#D D

        p
          |  Angélica Díaz (1) 212

        p
          |  Jeimmy Patricia Diaz (1) 101

        p
          |  Oscar Javier Duque (1)
        
        
        h3
          a#E E

        p
          |  Dairo Escobar (1)



        h3
          a#G G

        p
          |  Arturo Gálvez (11) 310

        p
          |  Johanna Galvis (1)

        p
          |  Hernando García (1) 212

        p
          |  Iván González (1) 102, 207

        p
          |  María Fernanda González (1) 212

        p
          |  Hernán Granda (13) 310

        p
          |  Cesar Gutiérrez (1) 208

        p
          |  Francisco de Paula Gutiérrez (4) 205

        
        h3
          a#H H

        p
          |  Mateo Hernández 309
        

        
        h3
          a#L L

        p
          |  Eduardo Londoño (9) 302


        h3
          a#M M

        p
          |  Juana Mariño (1) 310

        p
          |  Lina Mesa (1) 212

        p
          |  Victor Julio Moreno (15) 310


        h3
          a#enye Ñ
        p
          |  Andrés Ñañez (1) 105


        h3
          a#O O

        p
          |  Tatiana Ochoa (14) 310

        p
          |  Carolina Ortiz-Villa (1) 208

        p
          |  Luz Helena Oviedo (1)


        h3
          a#P P

        p
          |  Ivón Parra

        p
          |  Eugenia Ponce de León Chaux (6) 213, 302, 303, 304, 306, 307, 310

        p
          |  Paulo Pulgarín (3) 105


        h3
          a#Q Q

        p
          |  Germán Quimbayo (1) 306


        h3
          a#R R

        p
          |  Diana Carolina Rengifo (1)

        p
          |  Sebastián Restrepo (1)

        p
          |  Juliana Rodríguez (1)

        p
          |  Jorge Romero (12) 310

        p
          |  Ana María Rueda (1)

        p
          |  Eduardo Rueda Cárdenas (5) 205

        p
          |  María Cristina Ruíz


        h3
          a#S S

        p
          |  Andrea Sierra (1)

        p
          |  Clara Lucía Sierra Díaz (7) 301

        p
          |  Luz Marina Silva (1) 212

        p
          |  Catalina Sosa (1) 212


        h3
          a#T T

        p
          |  Carlos Tapia (1) 310

        h3
          a#U U

        p
          |  Giovanni Andrés Ulloa Delgado (7) 301

        h3
          a#V V

        p
          |  Sandra Valenzuela (10) 302

        p
          |  Danny Vélez (1) 102

        

        
        h3
          a#Otros Otros

        p
          |  Autoridad Nacional de Licencias Ambientales - ANLA 205

        p
          |  Dirección Asuntos Ambientales Sectoriales Urbanos (MADS) 310

        p
          |  Dirección Desarrollo Urbano (DNP) 310

        p
          |  Socios del Convenio de Asociación para la elaboración de una propuesta para la gestión integral de la biodiversidad y sus serivicios ecosistémicos para el municipio de Medellín: Secretaría de Medio Ambiente de Medellín, Corporación Parque Explora, Jardín Botánico de Medellín, Sociedad Antioqueña de Ornitología, Parques Nacionales Naturales - Territorial Andes Occidentales 310


        p
          strong
            | Instituciones: (1) Instituto de Investigación de Recursos Biológicos Alexander von Humboldt (2) Universidad de Tulane (Estados Unidos) (3) Universidad de Los Andes (4) Universidad Jorge Tadeo Lozano (5) Pontificia Universidad Javeriana (6) Gesellschaft für Internationale Zusammenarbeit - GIZ (7) Corporación Autónoma Regional de los Valles del Sinú y San Jorge - CVS (8) Parques Nacionales Naturales (9) Corporación Autónoma Regional de Risaralda - CARDER (10) Fondo Mundial para la Naturaleza -WWF (11) Universidad del Nariño (12) Universidad de los Llanos (13) Departamento Administrativo Distrital del Medio Ambiente (Santamarta) (14) Secretaría de Planeación, Alcaldía de Manizales (15) Área Metropolitana de Bucaramanga
        



