doctype html
html.noPageBg(prefix="og: http://ogp.me/ns#", lang="es-es")
  head
    meta(property="fb:app_id", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2.0")
    // base href="http://humboldt.org.co/" /
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="title", content="noItem")
    meta(property="og:url", content="http://humboldt.org.co/")
    meta(property="og:title", content="Instituto Humboldt")
    meta(property="og:type", content="article")
    meta(property="og:description", content=" ")
    meta(name="description", content=" ")
    meta(name="generator", content="Joomla! - Open Source Content Management")
    title Instituto Humboldt
    link(href="res/favicon.ico", rel="shortcut icon", type="image/vnd.microsoft.icon")
    link(rel="stylesheet", href="/stylesheets/layout.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/template.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/humboldt.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/humboldtstyle.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/style1.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/default.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/jquery.bxslider.css", type="text/css")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript", src="/javascripts/jquery.bxslider.js/jquery.bxslider.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      $(document).ready(function(){
        $('.slider').bxSlider({
        minSlides: 2,
        maxSlides: 3,
        slideMargin: 10
        });
      });
  body(data-tablet-width="940", data-mobile-width="580")
    #humboldtPageWrap
      section#humboldtPageTop
        a#humboldtLogo(href="http://humboldt.org.co/ ")
          img(src="res/humboldtLogo.png", alt="Humboldt")
        #humboldtLogoText
          | REPORTE DE
          br
          | ESTADO DE LA
          br
          | BIODIVERSIDAD
      section#humboldtHeader
        select
          option 2014
          option 2013
          option 2012
        nav.bar
          ul
            li
              a(href="index.html") INICIO
            span.separator
            li
              a(href="resumen.html") PRESENTACION
            span.separator
            li
              a(href="resumen.html") RESUMEN EJECUTIVO
            span.separator
            li
              a(href="capitulo.html")
                span Cap&#237;tulo 1
                | ESTADO
            li
              a(href="capitulo.html")
                span Cap&#237;tulo 2
                | TRANSFORMACIONES
            li
              a(href="capitulo.html")
                span Cap&#237;tulo 3
                | GOBERNANZA
            span.separator
            li
              a AP&#201;NDICES
              ul
                li
                  a(href="apendices.html") &#205;NDICE DE AUTORES
                li
                  a(href="apendices.html") &#205;NDICE DE COLABORADORES
                li
                  a(href="apendices.html") &#205;NDICE TEM&#193;TICO
                li
                  a(href="apendices.html") GLOSARIO
                li
                  a(href="apendices.html") ACR&#211;NIMOS
        nav.breadcrumb(2014="")
          a(href="#") infografias
          | &#62;
          a(href="#") ficha 10
          span.bar
            a(href="#") PRESENTACI&#211;N
      section
        // contenido
        .slider
          .slide
            img(src="/images/banner.png")
          .slide
            img(src="/images/banner.png")
          .slide
            img(src="/images/banner.png")
        h1 CAP&#205;TULOS
        a.tema(href="capitulo.html")
          img(src="res/img.png")
          strong ESTADO
        a.tema(href="capitulo.html")
          img(src="res/img.png")
          strong TRANSFORMACIONES
        a.tema(href="capitulo.html")
          img(src="res/img.png")
          strong GOBERNANZA
        h1 INTRODUCCI&#211;N
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tempus nunc, quis interdum eros. Aliquam ac blandit sem. Mauris tincidunt aliquet molestie. Curabitur suscipit ipsum id viverra adipiscing. Donec sit amet massa vel sem volutpat laoreet. Vivamus sit amet sagittis leo. Vestibulum blandit ipsum sit amet ultricies vestibulum. Vivamus iaculis est nec tincidunt consectetur. Aenean a erat risus. Curabitur iaculis urna aliquam mattis fringilla.
        p
          | Vestibulum ultricies eget ante eu aliquam. Vivamus tincidunt nisl sit amet euismod tincidunt. Nullam convallis, elit ut hendrerit ultrices, felis ligula adipiscing massa, nec porttitor nunc felis vitae leo. Vivamus accumsan nulla ut orci egestas, at venenatis diam malesuada. Curabitur posuere, lorem eu lobortis feugiat, tellus metus tincidunt purus, non malesuada sapien odio id nibh. Ut ipsum eros, dictum vitae eros eu, pulvinar egestas justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus quam eu cursus scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin vehicula, quam et blandit faucibus, odio dolor venenatis eros, a viverra sem est sit amet felis. Quisque consectetur a quam congue pharetra. Mauris malesuada, sem ut sodales viverra, turpis metus pharetra lorem, sit amet malesuada leo mauris sit amet neque. Vestibulum feugiat, felis sit amet lacinia posuere, nulla ante suscipit lectus, sed egestas nunc nulla a diam. Quisque eget sapien a magna tempus adipiscing at tincidunt nisl.
        p
          | Sed ullamcorper nisl auctor lectus imperdiet, sed congue quam ornare. Pellentesque vitae consequat magna, a commodo enim. Quisque condimentum, nulla ut eleifend interdum, felis diam consectetur nisi, vel luctus ante nulla et felis. Nulla facilisi. Nulla fringilla velit arcu, quis ornare enim aliquet sed. Nulla porta purus ac nibh sagittis, at ullamcorper velit aliquet. Suspendisse scelerisque orci arcu, in convallis augue posuere nec. Aenean sollicitudin vehicula est, in mattis sapien facilisis ut. Duis laoreet euismod nibh vel ullamcorper. Phasellus rutrum eros quam, a accumsan turpis volutpat nec. Morbi pellentesque euismod augue. Duis a interdum magna. Proin eget mi ut sem ornare faucibus. Curabitur quis mauris vel dui tristique mattis eget eget nunc. Sed luctus condimentum odio eu iaculis.
        p
          | Integer sed placerat enim. Ut id purus eget ipsum pharetra faucibus non sed ipsum. Aenean lacinia consectetur lobortis. Pellentesque laoreet ultrices nulla at dignissim. Suspendisse sit amet turpis volutpat, porttitor est eu, aliquet quam. Pellentesque imperdiet augue sapien, at faucibus dolor imperdiet id. Vestibulum at lorem vitae mi ultrices euismod. Vestibulum fringilla fringilla mi. In egestas condimentum lorem ac gravida. Vestibulum dapibus rhoncus arcu nec bibendum. Praesent lacinia lectus sit amet varius imperdiet. Phasellus vel sollicitudin nunc, id dictum nulla. Etiam congue mi ut egestas fringilla. Sed in mollis mauris, nec pretium urna. Suspendisse mi ligula, pretium quis bibendum ac, feugiat non nunc. Integer molestie eros ut enim elementum ultrices.
        .firma
          img(src="res/firma.png")
          h4 Firma del tales
          h5 Cargo del tales
        .firma
          img(src="res/firma.png")
          h4 Firma del tales
          h5 Cargo del tales
      #humboldtFooterBg
      section#humboldtBottom3
        div
          .gkmod-1
            div
              h3.header
                span#module197
                  | Instituto de Investigaci&#243;n de Recursos Biol&#243;gicos Alexander von Humboldt Colombia
              .content
                ul.nav.menu.menu_footer
                  li.current.active
                    a(href="/")
                      span.image-title INICIO
                  li.deeper.parent
                    a.no_color(href="/instituto") EL INSTITUTO
                    ul.nav-child.unstyled.small
                      li
                        a(href="/instituto/quienes-somos") &#191;Qui&#233;nes somos?
                      li
                        a(href="/instituto/que-hacemos") &#191;Qu&#233; hacemos?
                      li
                        a(href="/instituto/organigrama-equipo") Organigrama
                      li
                        a(href="/instituto/junta-directiva") Junta Directiva
                      li
                        a(href="/instituto/documentos") Documentos
                      li
                        a(href="/instituto/redes-y-alianzas") Redes y Alianzas
                      li
                        a(href="http://humboldt.org.co/oportunidades/") Oportunidades
                  li.deeper.parent
                    a(href="/investigacion") INVESTIGACI&#211;N
                    ul.nav-child.unstyled.small
                      li.divider.deeper.parent
                        span.separator Programas
                        ul.nav-child.unstyled.small
                          li
                            a(href="/investigacion/programas/subdireccion-cientifica") Subdirecci&#243;n cient&#237;fica
                          li
                            a(href="/investigacion/programas/subdireccion-servicios-cientificos-y-proyectos-especiales") Subdirecci&#243;n Servicios Cient&#237;ficos y Proyectos Especiales
                          li
                            a(href="/investigacion/programas/politica-y-legislacion") Pol&#237;tica y Legislaci&#243;n
                          li
                            a(href="/investigacion/programas/conservacion-y-uso-de-la-biodiversidad") Conservaci&#243;n y Uso de la Biodiversidad
                          li
                            a(href="/investigacion/programas/dimensiones-socioeconomicas") Dimensiones Socioecon&#243;micas 
                          li
                            a(href="/investigacion/programas/gestion-de-informacion-y-conocimiento") Gesti&#243;n de Informaci&#243;n y Conocimiento
                          li
                            a(href="/investigacion/programas/comunicaciones") Comunicaciones
                      li.divider.deeper.parent
                        span.separator Proyectos
                        ul.nav-child.unstyled.small
                          li
                            a(href="/investigacion/proyectos/en-desarrollo") En Desarrollo
                          li
                            a(href="/investigacion/proyectos/ejecutados") Ejecutados
                      li.deeper.parent
                        a(href="/investigacion/centro-de-analisis-y-sintesis") Centro de an&#225;lisis y s&#237;ntesis
                        ul.nav-child.unstyled.small
                          li
                            a(href="/investigacion/centro-de-analisis-y-sintesis/laboratorio-1") Laboratorio de An&#225;lisis Espaciales
                          li
                            a(href="/investigacion/centro-de-analisis-y-sintesis/laboratorio-2") Laboratorio de Biogeograf&#237;a Aplicada y Bioac&#250;stica
                          li
                            a(href="/investigacion/centro-de-analisis-y-sintesis/laboratorio-3") Laboratorio de Gen&#233;tica de la Conservaci&#243;n
                      li.deeper.parent
                        a(href="/investigacion/ecosistemas-estrategicos") Delimitaci&#243;n de ecosistemas estrat&#233;gicos
                        ul.nav-child.unstyled.small
                          li
                            a(href="/investigacion/ecosistemas-estrategicos/paramos") P&#225;ramos
                          li
                            a(href="/investigacion/ecosistemas-estrategicos/humedales") Humedales
                  li.deeper.parent
                    a(href="/servicios") SERVICIOS
                    ul.nav-child.unstyled.small
                      li.deeper.parent
                        a(href="/servicios/colecciones-biologicas") Colecciones Biol&#243;gicas
                        ul.nav-child.unstyled.small
                          li
                            a(href="/servicios/colecciones-biologicas/herbario-federico-medem") Herbario Federico Medem
                          li
                            a(href="/servicios/colecciones-biologicas/coleccion-entomologica") Colecci&#243;n Entomol&#243;gica
                          li
                            a(href="/servicios/colecciones-biologicas/escarabajos-coprofagos") Escarabajos Copr&#243;fagos
                          li
                            a(href="/servicios/colecciones-biologicas/invertebrados") Invertebrados
                          li
                            a(href="/servicios/colecciones-biologicas/vertebrados") Vertebrados
                          li
                            a(href="/servicios/colecciones-biologicas/tejidos") Tejidos
                          li
                            a(href="/servicios/colecciones-biologicas/sonidos") Sonidos
                      li
                        a(href="/servicios/infraestructura-institucional-de-datos") Infraestructura Institucional de Datos
                      li
                        a(href="/servicios/sib-colombia") SIB Colombia
                      li
                        a(href="/servicios/registro-unico-nacional-de-colecciones-biologicas-rnc") Registro &#218;nico Nacional de Colecciones Biol&#243;gicas
                  li.deeper.parent
                    a(href="/noticias") NOTICIAS
                    ul.nav-child.unstyled.small
                      li
                        a.actual(href="/noticias/actualidad") Actualidad
                      li
                        a.humboldtnotes(href="/noticias/notas") Notas Humboldt
                      li
                        a(href="/noticias/boletines-y-comunicados") Boletines y comunicados
                  li.deeper.parent
                    a(href="/biodiversidad") BIODIVERSIDAD
                    ul.nav-child.unstyled.small
                      li
                        a(href="http://humboldt.org.co/biodiversidad") &#191;Qu&#233; es?
                      li
                        a(href="/biodiversidad/sonidos") Sonidos
                      li
                        a(href="/biodiversidad/trivias") Trivias
                  li.deeper.parent
                    a(href="/bibliotecaypublicaciones") BIBLIOTECA Y PUBLICACIONES
                    ul.nav-child.unstyled.small
                      li
                        a(href="/bibliotecaypublicaciones/publicaciones", title="Publicaciones Humboldt") Publicaciones Humboldt
                      li
                        a(href="/bibliotecaypublicaciones/biota") Revista Biota
                      li
                        a(href="/bibliotecaypublicaciones/biblioteca") Biblioteca Humboldt
      footer.humboldtFooter
        .custom
          p
            span(style="color: #696969; font-family: sans-serif; line-height: 10px; text-transform: uppercase;") &#169; 2014 INSTITUTO HUMBOLDT. TODOS LOS DERECHOS RESERVADOS.
          p(style="margin-top: -11px;")
            span
              | Calle 28A # 15-09 Bogot&#225; D.C. PBX: 3202767 Horarios de atenci&#243;n: Lunes a viernes, 8:30a.m.-5:30p.m.
