extends layout_report

block content
  script.
      $(document).ready(function(){
        $('.slider').bxSlider({
          video: true,
          useCSS: false
        });

        
        $('#libro').on('click', function() {
          ga('send', 'event', 'download', 'click', 'Descarga libro completo');
        });
      });

  section#contenido
        .slider
          
          .slide
            img(src='/images/sitio/slider/cap1.jpg')
          .slide
            img(src='/images/sitio/slider/cap2.jpg')
          .slide
            img(src='/images/sitio/slider/cap3.jpg')
          .slide
            iframe(src='//www.youtube.com/embed/D-oRWNn-JtE', width='1000', height='425', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
        
        div.fb-like(data-href='http://reporte.humboldt.org.co/biodiversidad2014/', data-layout='standard', data-action='like', data-show-faces='false', data-share='true') 

        a.twitter-share-button(href='https://twitter.com/share', data-url='http://reporte.humboldt.org.co/biodiversidad2014/', data-text='Reporte de Estado de la Biodiversidad', data-via='inst_humboldt', data-lang='es', data-hashtags='Biodiversidad2014') Twittear
          
        h1 TEMAS
        a.tema(href='/biodiversidad2014/capitulo/1')
          img(src='/images/sitio/th_cap/th_cap1.jpg')
          strong ESTADO
        a.tema(href='/biodiversidad2014/capitulo/2')
          img(src='/images/sitio/th_cap/th_cap2.jpg')
          strong TRANSFORMACIONES
        a.tema(href='/biodiversidad2014/capitulo/3')
          img(src='/images/sitio/th_cap/th_cap3.jpg')
          strong GOBERNANZA

        a#libro.tema(href='https://s3.amazonaws.com/biodiversidad2014/IAvH_Biodiversidad_2014.pdf')
          img(src='/images/sitio/th_portada.jpg')
          strong LIBRO PARA DESCARGAR

        h1 INTRODUCCIÓN

        p
          strong
            | En los últimos veinte años, la población colombiana se incrementó en una tercera parte. Mientras nuestra sociedad crece, se concentra en las ciudades y se globaliza, ocurren grandes transformaciones de los territorios, tantas que ya es casi imposible imaginar cómo era esa Colombia de hace cien o doscientos años. De alguna manera, aún seguimos sin entender bien cómo habitar uno de los rincones más diversos del planeta, y cómo hacer de dicha diversidad uno de los pilares de vida como sociedad: actualmente, transitamos rutas de desarrollo en las que prevalece una visión extractivista de la riqueza natural en la cual estamos inmersos y que se aleja, pese a los esfuerzos públicos y privados, de los objetivos de conservación y gestión integral de la biodiversidad.
        p
          | En tal contexto, se hace cada vez más necesario contar con un panorama amplio de la situación de la biodiversidad continental de Colombia, haciendo un especial énfasis tanto en los procesos de transformación como en sus causas, en sus consecuencias y en las oportunidades que aquellos ofrecen de cara al bienestar humano y al desarrollo sostenible de nuestra sociedad. Construir dicho panorama sigue siendo un reto enorme, no solo por la complejidad inherente a los sistemas biológicos y ecológicos del territorio nacional, sino también por la fragmentación de los esfuerzos orientados a documentar dicha riqueza y su relación con actividades de desarrollo económico, social, cultural y ambiental. Frente a la actual coyuntura nacional, se hace cada vez más urgente establecer programas de monitoreo robustos, amplios, participativos y de largo plazo. Estos pueden dar cuenta de esas relaciones y permitirles a los tomadores de decisiones y a la sociedad en general comprender dichas relaciones y usar aquel conocimiento de manera asertiva en la elección e implementación de modelos de desarrollo, con miras a armonizar el bienestar humano y la conservación de la biodiversidad.
        p
          | A la luz de esta perspectiva, en 2013 el Instituto Humboldt decidió convertir el Reporte de Estado y Tendencias de la Biodiversidad Continental de Colombia en un documento de síntesis y referencia, orientado a tomadores de decisión y con contenidos de fácil lectura, uso y apropiación. Biodiversidad 2014 emerge, entonces, como un primer ejercicio de elaboración de este reporte, construido a partir de los temas abordados por el Instituto en sus múltiples temáticas de investigación. Por esta razón, si bien Biodiversidad 2014 aún dista de cumplir con los objetivos de un reporte anual basado en indicadores derivados de un sistema de monitoreo de alcance nacional, sí representa un avance en cuanto a nuevas formas de informarle al país qué está pasando con su biodiversidad, dónde está cambiando, cuáles son las causas de dichos cambios y cuáles son los escenarios posibles. Tal avance se refleja en dos aspectos fundamentales: primero, a propósito de las temáticas presentadas, y, segundo, a propósito de la presentación de las mismas.
        p
          | En cuanto al primer aspecto, Biodiversidad 2014 está organizado en tres grandes capítulos, los cuales abordan aspectos relativos al estado de conocimiento, a los factores de transformación y a las acciones para articular la biodiversidad en los procesos de desarrollo del país, respectivamente.
        p
          | A partir de seis ejemplos, el primer capítulo da indicaciones sobre los avances en el conocimiento de la biodiversidad de Colombia. En él se destaca el papel de las colecciones biológicas, la apertura hacia la publicación de datos primarios en línea y el uso de enfoques multicriterio para descubrir y describir nuevas especies. Por otro lado, se observa que, pese a estos avances, los vacíos de información son todavía prominentes. Además, el desconocimiento biológico y ecológico de grupos de importancia económica y cultural, tales como el de las tortugas continentales, impide formular estrategias efectivas para su conservación, aspecto que puede fácilmente extrapolarse a otros grupos de organismos y ecosistemas. 

        p
          | En el segundo capitulo se exploran algunos aspectos relacionados con el cambio y la pérdida de la biodiversidad continental de Colombia, así como con sus efectos. Se le da un particular énfasis a los efectos del tráfico ilegal, la deforestación, el cambio climático, las especies invasoras, la sobreexplotación, la ganadería y los cultivos ilícitos en la biodiversidad. 

        p
          | Finalmente, el tercer capitulo reúne varios casos que muestran las respuestas, principalmente desde lo público y normativo, que se han generado para la gestión de la biodiversidad y de los territorios. Estos casos incluyen temas como CITES, áreas protegidas, ordenamiento territorial, minería, agricultura, conocimientos tradicionales, sistemas urbanos y valoración integral de la biodiversidad.

        p
          | En lo que se refiere a la presentación de la información, lo más notable es que los contenidos en cada uno de estos capítulos se presentan a modo de infografías, con enlaces a otros recursos de información en línea (tales como referencias bibliográficas, metodologías, datos usados, etc.). Cada infografía está diseñada para plantear un tema de manera sintética y pensando en que se pueda usar independientemente (por ejemplo, en carteles, como parte de una exhibición itinerante o en eventos académicos). Por tal razón, algunos aspectos importantes en la elaboración de Biodiversidad 2014 han sido la búsqueda de nuevos lenguajes visuales a la hora de presentar resultados y la utilización de múltiples plataformas de comunicación, en lo que se ha definido como un producto transmedial. Así mismo, los textos que acompañan cada infografía son cortos, para darle más visibilidad a los mapas, gráficos, cifras, y líneas de tiempo, cuyo diseño busca facilitar su lectura e interpretación, pero también llamar la atención del lector en algunos casos y confrontarlo en otros, siempre con el ánimo de invitarlo a pensar. 

        p
          | Biodiversidad 2014 es, en suma, el resultado del trabajo y la contribución de muchas personas. 59 autores pertenecientes a 11 entidades y más de 40 colaboradores, hicieron posible los contenidos de este reporte. La elaboración del documento fue todo un experimento en sí mismo, razón por la cual deseo, como editor, expresarle mi agradecimiento especial a cada uno de los autores por su apertura y constante disposición a ser parte de este proyecto. Así mismo, quiero agradecer a quienes me acompañaron en el equipo editorial: Mafe Gómez, Mayra Báez, Óscar Orrego y Laura Nägele. Biodiversidad 2014 es un producto de diseño que fue posible gracias a la .Puntoaparte Bookvertising y, en particular, a la tarea de Mateo L. Zúñiga como director de arte. Este excelente equipo nos acompañó durante todo el proceso y puso la mayor dedicación posible en cada uno de los detalles que le dan vida al libro. Obviamente, este reporte fue posible gracias al apoyo general del Instituto Humboldt, en cabeza de su directora, Brigitte Baptiste, a quien agradecemos por darnos vía libre para emprender esta aventura editorial.

        p
          | En muchos aspectos, la versión impresa de Biodiversidad 2014 está diseñada para ser exhibida y usada como un libro de mesa: es decir, un libro que se ojea, que se repasa, que se visita una y otra vez, y cuya lectura siempre devela nuevos detalles. Queremos que Biodiversidad 2014 sirva como referente de nuevas formas de comunicación, para democratizar el conocimiento académico y ponerlo en uso para las decisiones de desarrollo del país. Pero, por encima de todo, queremos que este reporte nos permita comprender un poco mejor la situación de ese mundo natural, tan diverso, complejo y hermoso, en el que estamos inmersos, y que de alguna manera nos ayude a encontrar formas de desarrollarnos como sociedad que no impliquen la pérdida de las especies ni de los ecosistemas que habitan y que hacen parte del territorio continental de Colombia


        .firma
          h4 Juan Carlos Bello
          h5 Coordinador Programa Gestión de Información y Conocimiento, Instituto de Investigación de Recursos Biológicos Alexander von Humboldt

        