extends layout_report

block content
  section#contenido
        h1 INFORMACIÓN PARA LA GESTIÓN INTEGRAL DE LA BIODIVERSIDAD 
        p
          strong
            | Construir sostenibilidad implica una diferencia sustancial en la forma de hacer las mismas cosas que requiere y promete el desarrollo clásico. Eliminar la pobreza o la desnutrición, garantizar educación para todos o respeto por los derechos humanos siguen siendo retos centrales de cualquier política contemporánea, pero no es tan fácil pensar en la adicionalidad requerida para hacer de ellas algo ambientalmente sensato. Luchamos por un cambio social y ecológico hacia la sostenibilidad; requerimos guías que nos permitan ver y evaluar la naturaleza de ese cambio y no solo evidenciarlo.
        p
          | Uno de los mandatos misionales más importantes del Instituto Humboldt es la elaboración de un informe anual acerca del estado y tendencias de la biodiversidad, el cual hace parte de los reportes formales que el Ministerio de Ambiente ensambla junto con otros insumos para seguirle el pulso a la gestión que desarrollan tanto el SINA como el resto de instituciones del país. Existen muchísimas limitaciones para hacer de este informe algo que realmente represente una lectura de las transformaciones ambientales del territorio y de las capacidades de intervenir en él, como se ha evidenciado en los últimos años solo con la dificultad de construir series de tiempo e indicadores robustos que permitan calificar la persistencia o aparición de fenómenos asociados con el tema. Si bien cada ve poseemos más información acerca de la biodiversidad y los servicios ecosistémicos, y más capacidad de analizarla, estamos lejos de poder proveer a la sociedad de un panorama confiable acerca de las tendencias, a primera vista muy preocupantes, de la extinción, la transformación de los ecosistemas, los efectos de la contaminación o las invasiones biológicas en nuestro país. Sin embargo, eso no quiere decir que no sea posible organizar cada vez mejor los datos colectados por el Instituto Alexander von Humboldt a través de sus actividades crecientes de investigación, como se podrá apreciar en la lectura de este informe y todo su material multimedia asociado. Con el tiempo, y la progresiva complejización de las redes institucionales con las que trabajamos, tendremos esa capacidad.A la luz de esta perspectiva, en 2013 el Instituto Humboldt decidió convertir el Reporte de Estado y Tendencias de la Biodiversidad Continental de Colombia en un documento de síntesis y referencia, orientado a tomadores de decisión y con contenidos de fácil lectura, uso y apropiación. Biodiversidad 2014 emerge, entonces, como un primer ejercicio de elaboración de este reporte, construido a partir de los temas abordados por el Instituto en sus múltiples temáticas de investigación. Por esta razón, si bien Biodiversidad 2014 aún dista de cumplir con los objetivos de un reporte anual basado en indicadores derivados de un sistema de monitoreo de alcance nacional, sí representa un avance en cuanto a nuevas formas de informarle al país qué está pasando con su biodiversidad, dónde está cambiando, cuáles son las causas de dichos cambios y cuáles son los escenarios posibles. Tal avance se refleja en dos aspectos fundamentales: primero, a propósito de las temáticas presentadas, y, segundo, a propósito de la presentación de las mismas.
        p
          | Entregamos por hoy, con ocasión del vigésimo aniversario de la creación de los institutos de investigación del SINA, una versión radicalmente diferente de nuestro informe, resultado de una apuesta de comunicación ambiciosa. A las decenas de personas que aportaron sus esfuerzos en la construcción de textos, diagramas y fichas técnicas, debemos expresar nuestro agradecimiento por su apoyo y compromiso con la innovación: en medio de la escasez crónica de recursos, ponemos a disposición del público una versión de nuestro trabajo que busca integrar al máximo el conocimiento actual que poseemos de la biodiversidad y de su gestión, con la expectativa de que tanto el formato como el contenido inspiren a todos los colombianos a fortalecer la construcción de una cultura científica de su principal recurso: la vida.

        br
        p
          strong
            | Bridgitte Baptiste
        
          
        | Directora, Instituto de Investigación de Recursos Biológicos Alexander von Humboldt


        



