extends layout_report

block content
  section#contenido
        h1 PRESENTACI&#211;N&#9;&#9;&#9; 
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tempus nunc, quis interdum eros. Aliquam ac blandit sem. Mauris tincidunt aliquet molestie. Curabitur suscipit ipsum id viverra adipiscing. Donec sit amet massa vel sem volutpat laoreet. Vivamus sit amet sagittis leo. Vestibulum blandit ipsum sit amet ultricies vestibulum. Vivamus iaculis est nec tincidunt consectetur. Aenean a erat risus. Curabitur iaculis urna aliquam mattis fringilla.
        p
          | Vestibulum ultricies eget ante eu aliquam. Vivamus tincidunt nisl sit amet euismod tincidunt. Nullam convallis, elit ut hendrerit ultrices, felis ligula adipiscing massa, nec porttitor nunc felis vitae leo. Vivamus accumsan nulla ut orci egestas, at venenatis diam malesuada. Curabitur posuere, lorem eu lobortis feugiat, tellus metus tincidunt purus, non malesuada sapien odio id nibh. Ut ipsum eros, dictum vitae eros eu, pulvinar egestas justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus quam eu cursus scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin vehicula, quam et blandit faucibus, odio dolor venenatis eros, a viverra sem est sit amet felis. Quisque consectetur a quam congue pharetra. Mauris malesuada, sem ut sodales viverra, turpis metus pharetra lorem, sit amet malesuada leo mauris sit amet neque. Vestibulum feugiat, felis sit amet lacinia posuere, nulla ante suscipit lectus, sed egestas nunc nulla a diam. Quisque eget sapien a magna tempus adipiscing at tincidunt nisl.
        p
          | Sed ullamcorper nisl auctor lectus imperdiet, sed congue quam ornare. Pellentesque vitae consequat magna, a commodo enim. Quisque condimentum, nulla ut eleifend interdum, felis diam consectetur nisi, vel luctus ante nulla et felis. Nulla facilisi. Nulla fringilla velit arcu, quis ornare enim aliquet sed. Nulla porta purus ac nibh sagittis, at ullamcorper velit aliquet. Suspendisse scelerisque orci arcu, in convallis augue posuere nec. Aenean sollicitudin vehicula est, in mattis sapien facilisis ut. Duis laoreet euismod nibh vel ullamcorper. Phasellus rutrum eros quam, a accumsan turpis volutpat nec. Morbi pellentesque euismod augue. Duis a interdum magna. Proin eget mi ut sem ornare faucibus. Curabitur quis mauris vel dui tristique mattis eget eget nunc. Sed luctus condimentum odio eu iaculis.
        p &#160;

        



