extends layout_report

block content
  section#contenido
        h1 MAPAS COMPLEMENTARIOS
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tempus nunc, quis interdum eros. Aliquam ac blandit sem. Mauris tincidunt aliquet molestie. Curabitur suscipit ipsum id viverra adipiscing. Donec sit amet massa vel sem volutpat laoreet. Vivamus sit amet sagittis leo. Vestibulum blandit ipsum sit amet ultricies vestibulum. Vivamus iaculis est nec tincidunt consectetur. Aenean a erat risus. Curabitur iaculis urna aliquam mattis fringilla.
        h3 MAPAS
        a.tema(href="/biodiversidad2014/mapas/1")
          img(src="/images/sitio/img.png")
          strong HIDROGRAF&#205;A
        a.tema(href="/biodiversidad2014/mapas/2")
          img(src="/images/sitio/img.png")
          strong &#193;REAS PROTEGIDAS
        a.tema(href="/biodiversidad2014/mapas/3")
          img(src="/images/sitio/img.png")
          strong BIOMAS CONTINENTALES
        a.tema(href="/biodiversidad2014/mapas/4")
          img(src="/images/sitio/img.png")
          strong ECOSISTEMAS ESTRAT&#201;GICOS
        a.tema(href="/biodiversidad2014/mapas/5")
          img(src="/images/sitio/img.png")
          strong ESTRATEGIAS DE CONSERVACI&#211;N
        a.tema(href="/biodiversidad2014/mapas/6")
          img(src="/images/sitio/img.png")
          strong TERRITORIOS COLECTIVOS
        a.tema(href="/biodiversidad2014/mapas/7")
          img(src="/images/sitio/img.png")
          strong SISTEMA DE CIUDADES
        a.tema(href="/biodiversidad2014/mapas/8")
          img(src="/images/sitio/img.png")
          strong INFRAESTRUCTURA VIAL
        a.tema(href="/biodiversidad2014/mapas/9")
          img(src="/images/sitio/img.png")
          strong T&#205;TULOS MINEROS 2013

        



