extends layout_report

block content
  section#contenido
        h1 BIODIVERSIDAD, FACTOR DE INNOVACIÓN Y SOSTENIBILIDAD 
        p
          strong
            | Pocos países en el mundo ostentan un capital natural similar en riqueza y abundancia al de Colombia. Casi todos los tipos de ecosistemas tienen un lugar dentro de sus fronteras y, con menos del 1% de la superficie terrestre, nuestro país alberga al menos una de cada diez especies conocidas.
        p
          | En Colombia, la relación que existe entre la biodiversidad, la salud, los modos de vida, las industrias y los sitios que habitamos, aunque apenas explorada, es particularmente visible. Por ejemplo, más del 60% de nuestra electricidad proviene de fuentes hídricas reguladas por los bosques, mientras que alrededor de 30 millones de colombianos somos beneficiarios del agua que proviene de los páramos.
        p
          | Son dos las implicaciones que se derivan de tan especial condición. En primer lugar, como fuente extraordinaria de hallazgos para la ciencia y la profundización del conocimiento sobre nuestro planeta, la biodiversidad de Colombia ofrece un enorme potencial para la investigación, la innovación y el desarrollo de nuevas tecnologías. En segundo lugar, las principales oportunidades para apalancar el desarrollo y generar mejores condiciones de vida para los colombianos emergen de la conservación y del uso sostenible de la biodiversidad.

        p
          | ¿Cómo puede Colombia, entonces, transformarse en un país más competitivo y equitativo sin ocasionar el deterioro irreversible de su biodiversidad? En Biodiversidad 2014, el Instituto de Investigación Alexander von Humboldt le entrega al país un insumo crucial para responder a este interrogante y lo hace atendiendo a otras dos preguntas que le preceden a este enorme reto: ¿Qué sabemos? ¿Cuánto resta por descubrir acerca de nuestra biodiversidad y su potencial para apalancar el desarrollo del país? 

        p
          | Cada vez con más ímpetu, el gobierno, las comunidades, la academia y los sectores productivos ponen a prueba acciones y estrategias para que la biodiversidad y aquellos servicios críticos que presta se mantengan ante la demanda global creciente de agua y alimentos. Sin lugar a dudas, esta publicación será esencial para fortalecer el actuar del país en materia de innovación basada en la biodiversidad y en la implementación de modelos de producción sostenibles en el campo y en las industrias. 

         p
          | Este efecto transformador, sin embargo, solo se conseguirá si todos los lectores –desde estudiantes en edad escolar hasta científicos, empresarios y dirigentes– utilizan los conocimientos contenidos en este informe en sus decisiones diarias, simples o complejas. Sea éste el propósito con el que los usuarios de Biodiversidad 2014 se aproximen a cada uno de sus temas, capítulos y propuestas.

        br
        p
          strong
            | Pablo Abba Vieira Samper
          
        | Viceministro de Ambiente y Desarrollo Sostenible de Colombia
        



