extends layout_report

block content
  section#contenido
        h1 BIODIVERSIDAD Y DESARROLLO: PERSPECTIVA GLOBAL 
        p
          strong
            | La riqueza de la vida de nuestro planeta, sus ecosistemas y las repercusiones de su manejo constituyen la base de nuestro patrimonio, la salud y el bienestar común. La comunidad internacional es cada vez más consciente de la relación entre la diversidad biológica y el desarrollo sostenible, aspecto que ha manifestado en varios procesos políticos.
        p
          | En el 2010, en Nagoya Japón, la comunidad internacional adoptó el Plan Estratégico para la Diversidad Biológica 2011-2020 y las 20 Metas de Aichi, momento crítico en el que se resaltó que la diversidad biológica no es apenas un problema que necesita resolverse, sino que es esencial para lograr el desarrollo sostenible y constituye el fundamento del bienestar humano. 
        p
          | Llegando casi a la mitad del Decenio de las Naciones Unidas sobre la Diversidad Biológica (2011-2020), la cuarta edición de la Perspectiva Mundial sobre la Diversidad Biológica nos brinda elementos importantes para medir el grado de avance. Las Partes al Convenio sobre la Diversidad Biológica están avanzando y asumiendo compromisos concretos para alcanzar las Metas de Aichi. Sin embargo, estos esfuerzos se deben fortalecer para implementar plenamente el Plan Estratégico, realizar su misión y, también, para alcanzar los objetivos de desarrollo sostenible.

        p
          | “Biodiversidad 2014: Estado y tendencias de la biodiversidad continental en Colombia” demuestra los efectos acumulativos de siglos de transformación e intervención humana sobre los ecosistemas del país. Los temas abordados por el Instituto de Investigación de Recursos Biológicos Alexander Von Humboldt ayudan a la reflexión colectiva sobre los modelos de desarrollo de la sociedad colombiana y los vínculos críticos que existen entre la diversidad biológica y el desarrollo sostenible. 

        p
          | “Biodiversidad 2014” es el resultado de esfuerzos importantes de análisis científico, como también de coordinación nacional de información e inventario sobre la biodiversidad en Colombia y representa un adelanto en la manera de presentar datos sobre el estado de la biodiversidad, su localización y los factores de cambios, presentando escenarios posibles de sus tendencias futuras. Esto implica nuevos enfoques para la gestión ambiental, que puedan aportar nuevas formas de desarrollo que no impliquen la pérdida de las especies o los ecosistemas que habitan. 

        p
          | Espero que esta publicación contribuya hasta un futuro de desarrollo sostenible en Colombia y como inspiración para otros países que quieran destacar los retos y las oportunidades en su agenda nacional sobre la biodiversidad. Muy importante en este momento, porque en el 2015 el mundo está llamado a: aumentar las medidas para cumplir los Objetivos de Desarrollo del Milenio, elaborar una nueva agenda de desarrollo sostenible y adoptar un acuerdo jurídico sustantivo, en materia de cambio climático.

        p
          | Para la Secretaría del Convenio de la Diversidad Biológica es de mucho agrado recomendar esta publicación a todos los interesados en un enfoque orientado a la acción, para detener la pérdida de diversidad biológica y emplazar el mundo por la senda hacia el futuro que todos queremos.

        br
        p
          strong
            | Braulio Ferreira de Souza Dias
          
        | Secretario Ejecutivo, Convenio sobre la Diversidad Biológica - CDB--

        



