extends layout_report

block content
  section#contenido
        h1 PANORAMA DE LA BIODIVERSIDAD, UN LLAMADO A LA ACCIÓN 
        p
          | Las cifras y análisis contenidos a lo largo de Biodiversidad 2014 muestran un panorama muy difícil y en muchos casos desalentador para la biodiversidad continental de Colombia. En buena medida estos datos reflejan los efectos acumulativos de siglos de transformación e intervención humana sobre los ecosistemas continentales del país . Visto desde otra perspectiva , este panorama puede ayudar a la reflexión colectiva sobre los modelos de desarrollo de nuestra sociedad , y del papel que la biodiversidad puede jugar como un factor esencial para el bienestar humano. Las cifras hablan por si solas.

        a.tema(href="/biodiversidad2014/resumen/1")
          img(src="/images/sitio/th_resu/thumb_res1.jpg")
          strong P&#193;GINA 1
        a.tema(href="/biodiversidad2014/resumen/2")
          img(src="/images/sitio/th_resu/thumb_res2.jpg")
          strong P&#193;GINA 2
        a.tema(href="/biodiversidad2014/resumen/3")
          img(src="/images/sitio/th_resu/thumb_res1.jpg")
          strong P&#193;GINA 3

        .rounded_box
          h3 Descargar PDF
          a.link_box(href="/pdfs/resumen/Resumen_ejecutivo_2014.pdf")
            h5 Resumen ejecutivo
            span Panorama de la biodiversidad, un llamado a la acci&#243;n


        



